﻿
@{
    ViewBag.Title = "OurTrustees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="container">


        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Trustees</li>
            </ol>
        </h6>



    </div>
</div>
<div class="container">
    <h1 class="h1 block__header">Our Trustees</h1>
    <div class="row">

        <div class="col-md-2">
            <a href="@Url.Action("Post")">
                @*<img  src="http://placehold.it/600x300">*@
                <img class="img-responsive" src="~/Images/Mountain.jpg" />
            </a>
        </div>
        <div class="col-md-10">
            <h3>
                Trustee
            </h3>
          
            <p>This is a very basic starter template for a blog homepage. It makes use of Font Awesome icons that are built into the 'Modern Business' template, and it makes use of the Bootstrap 3 pager at the bottom of the page.</p>
            @*<a href="@Url.Action("Post")" class="btn btn-primary">Read More <i class="fa fa-angle-right"></i></a>*@
        </div>
    </div>

</div>