﻿@model IEnumerable<BlessedHub.Models.BlessedHubMember>
@{
    ViewBag.Title = "OurTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="container">


        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Team</li>
            </ol>
        </h6>



    </div>
</div>
<div class="container">
    <h2 class="h1 block__header">Our Team</h2>
    <hr />
    @foreach (var item in Model)
    {
        <div class="row">

            <div class="col-md-2">
                <a href="@Url.Action("Post")">
                    @*<img  src="http://placehold.it/600x300">*@
                    <img class="img-responsive" src=@item.PictureUrl />
                </a>
            </div>
            <div class="col-md-10">
                <h3>
                    @item.FirstName
                </h3>
                <h4>@item.JobTitle</h4>
             
               
               
            </div>
        </div>
        <hr />
    }
    </div>