﻿@model BlessedHub.Models.OrganisationWorkingDay

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrganisationWorkingDay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkingDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organisation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organisation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeekDay.Days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeekDay.Days)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
