﻿@model IEnumerable<BlessedHub.Models.BlessedHubMember>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.JobTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobTitle)
        </td>
    </tr> <tr>
    <td>
        @Html.DisplayNameFor(model => model.JobDescription)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.JobDescription)
    </td>
</tr> <tr>
    <td>
        @Html.DisplayNameFor(model => model.Mobiel)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Mobiel)
    </td>
</tr><tr>
    <td>
        @Html.DisplayNameFor(model => model.Phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Phone)
    </td>
</tr> <tr>
    <td>
        @Html.DisplayNameFor(model => model.Role)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Role)
    </td>
</tr>  <tr>
    <td>
        @Html.DisplayNameFor(model => model.Acievement)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Acievement)
    </td>
</tr>  <tr>
    <td>
        @Html.DisplayNameFor(model => model.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
</tr>  <tr>
    <td>
        @Html.DisplayNameFor(model => model.Postcode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Postcode)
    </td>
</tr> <tr>
    <td>
        @Html.DisplayNameFor(model => model.City)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.City)
    </td>
</tr>  <tr>
    <td>
        @Html.DisplayNameFor(model => model.RoleId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RoleId)
    </td>
</tr>  <tr>
    <td>
        @Html.DisplayNameFor(model => model.Active)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Active)
    </td>
</tr>  <tr>
    <td>
        @Html.DisplayNameFor(model => model.PictureUrl)
    </td>
    <td>
        @*@Html.DisplayFor(modelItem => item.PictureURL)*@
        <img src=@item.PictureUrl widtd="100" height="100" />
    </td>
</tr>  <tr>
    <td>
        @Html.DisplayNameFor(model => model.DateAdded)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateAdded)
    </td>
</tr>   <tr>
    <td>
        @Html.DisplayNameFor(model => model.DateUpdated)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.DateUpdated)
    </td>
</tr>    <tr>
    <td>
        @Html.DisplayNameFor(model => model.BleassedHubTeam.TeamTitle)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BleassedHubTeam.TeamTitle)
    </td>
</tr>  
    <tr>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) 
        </td>
    </tr>
</table>
    }



