﻿
@{
    ViewBag.Title = "Journey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="container">

        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">An Unexpected journey</li>
            </ol>
        </h6>
    </div>
</div>

<div class="container">

    <div class="wpb_wrapper">
        <section class=" section--body section--first">
            <div class="section-content">
                <div class="section-inner sectionLayout--fullWidth"></div>
                <div class="section-inner layoutSingleColumn">
                    <h3 id="dcf2" class="graf--h3 graf-after--figure">The Blessed Hub: An Unexpected Journey, P.1</h3>
                    <h4 id="07a3" class="graf--h4 graf-after--h3">The lessons learnt so far and launching ‘The Legacy Project’</h4>
                    <p id="dfde" class="graf--p graf-after--h4 graf--last"><em class="markup--em markup--p-em">By </em><a class="markup--user markup--p-user no-ajaxy" href="https://medium.com/u/62769f78b5b2" data-href="https://medium.com/u/62769f78b5b2" data-anchor-type="2" data-user-id="62769f78b5b2" data-action="show-user-card" data-action-type="hover"><em class="markup--em markup--p-em">Qāri Mubashir Anwar</em></a></p>
                </div>
            </div>
        </section>
        <section class=" section--body">
            <div class="section-divider layoutSingleColumn">—</div>
            <div class="section-divider layoutSingleColumn"></div>
            <div class="section-divider layoutSingleColumn">As I write this, <a class="markup--anchor markup--p-anchor no-ajaxy" href="http://theblessedhub.co.uk" rel="nofollow" data-href="http://theblessedhub.co.uk">The Blessed Hub</a> (‘TBH’) is exactly 3 years, 9 months, and 7 days old.</div>
            <div class="section-content">
                <div class="section-inner layoutSingleColumn">
                    <p id="7155" class="graf--p graf-after--p">Over 4 years ago, I was at an event when a friend approached me to discuss an idea. After that, we had many meetings and phone calls building upon the idea and dreaming about where it could go. We were both the founders at ages 25 and 24.</p>
                    <p id="575d" class="graf--p graf-after--p">This post was going to be a written social media post&#8202;—&#8202;a simple statement. Where we’d talk about what we’re currently doing at <a class="markup--user markup--p-user no-ajaxy" href="https://medium.com/u/23e26c99c31f" data-href="https://medium.com/u/23e26c99c31f" data-anchor-type="2" data-user-id="23e26c99c31f" data-action="show-user-card" data-action-type="hover">The Blessed Hub</a> and what we’ve stopped doing. After giving it some thought I decided against that.</p>
                    <p id="fe9f" class="graf--p graf-after--p">A lot has happened since we launched. In this short series, I’ll recap over the past, what we’ve stopped doing, and what we’re working today. I’ll also share some of the important things I/we’ve learnt along the way.</p>
                    <p id="52db" class="graf--p graf-after--p"><strong class="markup--strong markup--p-strong">First of all, let me give you a brief overview of what we’ve done to date.</strong></p>
                    <h3 id="7f13" class="graf--h3 graf-after--p">Year I&#8202;—&#8202;The Birth</h3>
                    <h4 id="4fdd" class="graf--h4 graf-after--h3">Saturday 12th June 2012 (26th Rajab 1433 AH)&#8202;—&#8202;16th June 2013</h4>
                    <figure id="1b67" class="graf--figure graf-after--h4">
                        <div class="aspectRatioPlaceholder is-locked"></div>
                    </figure>
                </div>
            </div>
        </section>
        <figure id="1b67" class="graf--figure graf-after--h4">
            <div class="aspectRatioPlaceholder is-locked">
                <div class="progressiveMedia js-progressiveMedia graf-image is-canvasLoaded is-imageLoaded" data-scroll="native" data-image-id="1*e1dB6g_VaEHE0TEMtTzkPg.jpeg" data-width="1024" data-height="768" data-action="zoom" data-action-value="1*e1dB6g_VaEHE0TEMtTzkPg.jpeg"><img class="progressiveMedia-image js-progressiveMedia-image" src="https://cdn-images-1.medium.com/max/800/1*e1dB6g_VaEHE0TEMtTzkPg.jpeg" data-src="https://cdn-images-1.medium.com/max/800/1*e1dB6g_VaEHE0TEMtTzkPg.jpeg"></div>
            </div><figcaption class="imageCaption">Some images from a collage of events and projects in 2012/13</figcaption>
        </figure>
        <p id="bb6a" class="graf--p graf-after--figure">If I asked you, <em class="markup--em markup--p-em">“What is </em><a class="markup--user markup--p-user no-ajaxy" href="https://medium.com/u/23e26c99c31f" data-href="https://medium.com/u/23e26c99c31f" data-anchor-type="2" data-user-id="23e26c99c31f" data-action="show-user-card" data-action-type="hover"><em class="markup--em markup--p-em">The Blessed Hub</em></a><em class="markup--em markup--p-em">?”</em>, the chances are that I’m going to get different answers.</p>
        <p id="e685" class="graf--p graf-after--p">After a good couple of months work in refining an idea and formulating a vision, TBH was <a class="markup--anchor markup--p-anchor no-ajaxy" href="https://www.youtube.com/playlist?list=PL18BF252E49F29686" rel="nofollow" data-href="https://www.youtube.com/playlist?list=PL18BF252E49F29686">launched in June 2012</a>. We set about doing the following three things:</p>
        <ol class="postList">
            <li id="c7ef" class="graf--li graf-after--p">Providing an online platform for the <strong class="markup--strong markup--li-strong">discovery</strong> of local events, places, mosques and activities (for Manchester/Greater Manchester).</li>
            <li id="b60b" class="graf--li graf-after--li">Targeting positive <strong class="markup--strong markup--li-strong">growth</strong> within the local Muslim community through knowledge, interaction, unity efforts and combining resources.</li>
            <li id="1057" class="graf--li graf-after--li"><strong class="markup--strong markup--li-strong">Inspiring</strong> not just the Muslim community but the wider community through civic responsibility and <strong class="markup--strong markup--li-strong">giving</strong>.</li>
        </ol>
        <p id="04ff" class="graf--p graf-after--li"><strong class="markup--strong markup--p-strong">The name, The Blessed Hub, encapsulated all of this.</strong></p>
        <p id="d235" class="graf--p graf-after--p">The word <em class="markup--em markup--p-em">“Hub”</em> is interchangeable:</p>
        <ol class="postList">
            <li id="71f6" class="graf--li graf-after--p">A hub as you understood being <em class="markup--em markup--li-em">“a place or thing that forms the effective center of an activity, region, or network.”</em> and;</li>
            <li id="472a" class="graf--li graf-after--li">It’s also understood to mean “love” (<em class="markup--em markup--li-em">when read as an Arabic word: Hubb</em>). A love that is magnetic in nature and gathers people. This underpinned our entire vision and purpose.</li>
        </ol>
        <p id="21ee" class="graf--p graf-after--li">We wanted to be a hub of information and activity but did we achieve this?…</p>
        <figure id="998d" class="graf--figure graf-after--p">
            <div class="aspectRatioPlaceholder is-locked"></div>
        </figure>
        <section class=" section--body">
            <div class="section-content">
                <div class="section-inner layoutSingleColumn">
                    <figure id="998d" class="graf--figure graf-after--p">
                        <div class="aspectRatioPlaceholder is-locked">
                            <div class="progressiveMedia js-progressiveMedia graf-image is-canvasLoaded is-imageLoaded" data-scroll="native" data-image-id="1*NCPkYSGCdrSVbnOT9Gvqig.jpeg" data-width="3264" data-height="2448" data-action="zoom" data-action-value="1*NCPkYSGCdrSVbnOT9Gvqig.jpeg"><img class="progressiveMedia-image js-progressiveMedia-image" src="https://cdn-images-1.medium.com/max/800/1*NCPkYSGCdrSVbnOT9Gvqig.jpeg" data-src="https://cdn-images-1.medium.com/max/800/1*NCPkYSGCdrSVbnOT9Gvqig.jpeg"></div>
                        </div><figcaption class="imageCaption">A slide from a TBH presentation, The Unity Event 2013</figcaption>
                    </figure>
                    <p id="c84c" class="graf--p graf-after--figure">Well it was going to take a lot of work for two guys to handle but you know what, the first year was a rollercoaster.</p>
                    <p id="a741" class="graf--p graf-after--p"><strong class="markup--strong markup--p-strong">Here’s a snapshot of what we did:</strong></p>
                    <ol class="postList">
                        <li id="a89b" class="graf--li graf-after--p">We’ve had over 100,000 visits online.</li>
                        <li id="37ee" class="graf--li graf-after--li">We were promoting on average 15 events per week (+/-). With over a 1000 for the year.</li>
                        <li id="819f" class="graf--li graf-after--li">We fed over 500 homeless people within our first <a class="markup--anchor markup--li-anchor no-ajaxy" href="https://www.youtube.com/watch?v=vy_keSFB8jo&amp;list=PLWFhn1DjfV_7wUUiIz_9uqyk9NyBXNs-Q&amp;index=5" rel="nofollow" data-href="https://www.youtube.com/watch?v=vy_keSFB8jo&amp;list=PLWFhn1DjfV_7wUUiIz_9uqyk9NyBXNs-Q&amp;index=5">6 months</a>.</li>
                        <li id="3875" class="graf--li graf-after--li">Did a <a class="markup--anchor markup--li-anchor no-ajaxy" href="https://www.youtube.com/watch?v=-Z8jY5EBlrw&amp;list=PLWFhn1DjfV_7wUUiIz_9uqyk9NyBXNs-Q&amp;index=4" rel="nofollow" data-href="https://www.youtube.com/watch?v=-Z8jY5EBlrw&amp;list=PLWFhn1DjfV_7wUUiIz_9uqyk9NyBXNs-Q&amp;index=4">Christmas Day</a> homeless feed.</li>
                        <li id="42ae" class="graf--li graf-after--li">We established a <a class="markup--anchor markup--li-anchor no-ajaxy" href="https://www.youtube.com/watch?v=9NndUqNsbI8&amp;list=PLWFhn1DjfV_7wUUiIz_9uqyk9NyBXNs-Q&amp;index=1" rel="nofollow" data-href="https://www.youtube.com/watch?v=9NndUqNsbI8&amp;list=PLWFhn1DjfV_7wUUiIz_9uqyk9NyBXNs-Q&amp;index=1">football academy</a> with a <a class="markup--anchor markup--li-anchor no-ajaxy" href="http://theblessedhub.co.uk/mabs-the-coach/" rel="nofollow" data-href="http://theblessedhub.co.uk/mabs-the-coach/">Manchester United coach</a> with up to 20 kids.</li>
                        <li id="2ee3" class="graf--li graf-after--li">We established <a class="markup--anchor markup--li-anchor no-ajaxy" href="https://www.youtube.com/watch?v=dbxbcYK42pY&amp;list=PLWFhn1DjfV_7wUUiIz_9uqyk9NyBXNs-Q&amp;index=2" rel="nofollow" data-href="https://www.youtube.com/watch?v=dbxbcYK42pY&amp;list=PLWFhn1DjfV_7wUUiIz_9uqyk9NyBXNs-Q&amp;index=2">the Pathways Initiative</a> for those new to Islam, Muslim converts, and disengaged youth&#8202;—&#8202;which had regular events and social programmes week in week out on Wednesdays and Sundays.</li>
                        <li id="a327" class="graf--li graf-after--li">We established a partnership for litter picking with the Manchester city council.</li>
                        <li id="0749" class="graf--li graf-after--li">We set up <a class="markup--anchor markup--li-anchor no-ajaxy" href="https://www.youtube.com/watch?v=RUfhDhjw_Wo" rel="nofollow" data-href="https://www.youtube.com/watch?v=RUfhDhjw_Wo">The Sisters Hub</a>, a platform from which sisters could engage and initiate programmes for sisters.</li>
                        <li id="c55d" class="graf--li graf-after--li">We set up something very dear to us&#8202;—&#8202;the ambitious unity project (which was essentially a 10-point statement with signatories committing to work together) under which we held <a class="markup--anchor markup--li-anchor no-ajaxy" href="https://www.youtube.com/watch?v=jiczKreG2fQ&amp;index=7&amp;list=PLWFhn1DjfV_7wUUiIz_9uqyk9NyBXNs-Q" rel="nofollow" data-href="https://www.youtube.com/watch?v=jiczKreG2fQ&amp;index=7&amp;list=PLWFhn1DjfV_7wUUiIz_9uqyk9NyBXNs-Q">our first major event</a> named “The Blessed Miracle” in April 2013 with up to 15–25 different organisations or Tariqa under the one roof.</li>
                        <li id="72e4" class="graf--li graf-after--li">We have <a class="markup--anchor markup--li-anchor no-ajaxy" href="https://www.youtube.com/watch?v=xOM8JN4W8go&amp;index=9&amp;list=PLWFhn1DjfV_7wUUiIz_9uqyk9NyBXNs-Q" rel="nofollow" data-href="https://www.youtube.com/watch?v=xOM8JN4W8go&amp;index=9&amp;list=PLWFhn1DjfV_7wUUiIz_9uqyk9NyBXNs-Q">the Manchester Foodbank UK</a> initiated.</li>
                        <li id="cc36" class="graf--li graf-after--li">We <a class="markup--anchor markup--li-anchor no-ajaxy" href="https://www.youtube.com/playlist?list=PLB2709E711DC43D82" rel="nofollow" data-href="https://www.youtube.com/playlist?list=PLB2709E711DC43D82">interviewed</a> distinguished guests, scholars, and hosted many scholars.</li>
                        <li id="3956" class="graf--li graf-after--li">Engaged the community through social media and our blog.</li>
                        <li id="d626" class="graf--li graf-after--li">Set up live sessions on the website for streaming events and classes, this featured with the likes of <a class="markup--anchor markup--li-anchor no-ajaxy" href="https://www.youtube.com/playlist?list=PLA1F66DA047D4FF4A" rel="nofollow" data-href="https://www.youtube.com/playlist?list=PLA1F66DA047D4FF4A">Sh Haroon Hanif</a>.</li>
                        <li id="c267" class="graf--li graf-after--li">Curated an annual <a class="markup--anchor markup--li-anchor no-ajaxy" href="http://theblessedhub.co.uk/ramadan" rel="nofollow" data-href="http://theblessedhub.co.uk/ramadan">Ramadan Resources</a> guide.</li>
                    </ol>
                    <figure id="4fbe" class="graf--figure graf-after--li graf--last">
                        <div class="aspectRatioPlaceholder is-locked">
                            <div class="aspectRatioPlaceholder-fill"></div>
                            <p><img class="graf-image" src="https://cdn-images-1.medium.com/max/800/0*gPn4Q3uB5xZ1wSm0.gif" data-image-id="0*gPn4Q3uB5xZ1wSm0.gif" data-width="500" data-height="282"></p>
                        </div>
                    </figure>
                </div>
            </div>
        </section>
        <div class="section-divider layoutSingleColumn"></div>
        <div class="section-divider layoutSingleColumn"></div>
        <section class=" section--body">
            <div class="section-content">
                <div class="section-inner layoutSingleColumn">
                    <h3 id="7bf2" class="graf--h3 graf--leading">Year II&#8202;—&#8202;The year of helping others</h3>
                    <h4 id="a405" class="graf--h4 graf-after--h3">Things began to slow down (a little!)&#8202;—&#8202;16th June 2013–16th June 2014.</h4>
                    <figure id="9541" class="graf--figure graf-after--h4">
                        <div class="aspectRatioPlaceholder is-locked"></div>
                    </figure>
                </div>
            </div>
        </section>
        <figure id="9541" class="graf--figure graf-after--h4">
            <div class="aspectRatioPlaceholder is-locked">
                <div class="progressiveMedia js-progressiveMedia graf-image is-canvasLoaded is-imageLoaded" data-scroll="native" data-image-id="1*OOm9niN8TX1duGpHk7S5-w.png" data-width="843" data-height="403" data-action="zoom" data-action-value="1*OOm9niN8TX1duGpHk7S5-w.png"><img class="progressiveMedia-image js-progressiveMedia-image" src="https://cdn-images-1.medium.com/max/800/1*OOm9niN8TX1duGpHk7S5-w.png" data-src="https://cdn-images-1.medium.com/max/800/1*OOm9niN8TX1duGpHk7S5-w.png"></div>
            </div><figcaption class="imageCaption">Second year anniversary 2013/14&#8202;—&#8202;<a class="markup--anchor markup--figure-anchor no-ajaxy" href="http://www.theblessedhub.co.uk" rel="nofollow" data-href="http://www.theblessedhub.co.uk">www.theblessedhub.co.uk</a></figcaption>
        </figure>
        <p id="f32c" class="graf--p graf-after--figure">This was a special year.</p>
        <p id="e233" class="graf--p graf-after--p">By now we’d delivered over 500 food packages and over a 1000 packages of hot fresh foods. We’d assisted the lonely, the elderly, the depressed, those in need, and much more. We developed on some of the existing projects whilst dropping others as we went about aligning our activities with our vision.</p>
        <h4 id="f580" class="graf--h4 graf-after--p">Online Services:</h4>
        <ul class="postList">
            <li id="9f95" class="graf--li graf-after--h4">Website views doubled.</li>
            <li id="ad9c" class="graf--li graf-after--li">The website promoted events, courses, and workshops at an average of around 10 a week. Promoting well over a thousand events.</li>
            <li id="63ce" class="graf--li graf-after--li">We did not host any online streams during the year apart from a Ramadan Qur’an Halaqah (2013) with <a class="markup--user markup--li-user no-ajaxy" href="https://medium.com/u/62769f78b5b2" data-href="https://medium.com/u/62769f78b5b2" data-anchor-type="2" data-user-id="62769f78b5b2" data-action="show-user-card" data-action-type="hover">Qāri Mubashir Anwar</a>.</li>
            <li id="de72" class="graf--li graf-after--li">The blog became less active.</li>
        </ul>
        <h4 id="bfa3" class="graf--h4 graf-after--li">Community Projects:</h4>
        <ul class="postList">
            <li id="310f" class="graf--li graf-after--h4">
                <strong class="markup--strong markup--li-strong">
                    The Manchester Food Bank &amp; Homeless Feeds:<br>
                </strong>In June 2013 we began the Manchester Food Bank UK. Through the food bank we offered a three-tier service of emergency food supplies (24 hour on-demand), agency drop-offs (monthly) and street homeless meets and feeds (monthly). Up to 600+ parcels were distributed. Over 1000 fresh food supplies in the streets feeding over 600 homeless rough sleepers. The Booth Centre, Lifeshare, Saheli, MCUK, and Rainbow Haven were amongst those regularly supplied to.
            </li>
            <li id="222e" class="graf--li graf-after--li">
                <strong class="markup--strong markup--li-strong">Ramadan 2013</strong>&nbsp;:<br>
                We hosted Imam Abdul Latif Finch, weekly Qur’an Halaqah’s online and expanded the <a class="markup--anchor markup--li-anchor no-ajaxy" href="http://theblessedhub.co.uk/ramadan" rel="nofollow" data-href="http://theblessedhub.co.uk/ramadan">Ramadan Resources</a> section. Took part in <a class="markup--anchor markup--li-anchor no-ajaxy" href="https://www.facebook.com/Experiencingramadan" rel="nofollow" data-href="https://www.facebook.com/Experiencingramadan">Experiencing Ramadan</a>. Did our second <a class="markup--anchor markup--li-anchor no-ajaxy" href="https://www.facebook.com/TheBlessedHub/photos/gm.610040719110105/811342908890100/?type=1&amp;theater" rel="nofollow" data-href="https://www.facebook.com/TheBlessedHub/photos/gm.610040719110105/811342908890100/?type=1&amp;theater">annual Homeless Street Iftar</a>.
            </li>
            <li id="5b54" class="graf--li graf-after--li">Hosted a 2nd <a class="markup--anchor markup--li-anchor no-ajaxy" href="https://www.youtube.com/watch?v=aIp9xOTYOS8" rel="nofollow" data-href="https://www.youtube.com/watch?v=aIp9xOTYOS8"><strong class="markup--strong markup--li-strong">Christmas Day Homeless Meet and Feed</strong></a> in partnership with the charity Lifeshare.</li>
            <li id="66c6" class="graf--li graf-after--li">Our very first <strong class="markup--strong markup--li-strong">charity fundraiser</strong> was hosted for us by Al Hayaa Clothing (5th Oct 2013) raising up to £1500.</li>
            <li id="f57c" class="graf--li graf-after--li"><strong class="markup--strong markup--li-strong">The Manchester New</strong> <strong class="markup--strong markup--li-strong">Muslims</strong> project continued hosting regular evening socials up till Christmas period 2013. We hosted many scholars from the UK and abroad including Shaykh Muhammad Abdullah al-Hasni (Madina, SA), events and an ‘Eid Party. Regular visits from Shaykh Haroon Hanif and Ibrahim Osi Efa.</li>
        </ul>
        <figure id="9c4d" class="graf--figure graf-after--li">
            <div class="aspectRatioPlaceholder is-locked"></div>
        </figure>
        <figure id="9c4d" class="graf--figure graf-after--li">
            <div class="aspectRatioPlaceholder is-locked">
                <div class="progressiveMedia js-progressiveMedia graf-image is-canvasLoaded is-imageLoaded" data-scroll="native" data-image-id="0*8NjUQt74_5YOJD7q." data-width="960" data-height="331" data-action="zoom" data-action-value="0*8NjUQt74_5YOJD7q."><img class="progressiveMedia-image js-progressiveMedia-image" src="https://cdn-images-1.medium.com/max/800/0*8NjUQt74_5YOJD7q." data-src="https://cdn-images-1.medium.com/max/800/0*8NjUQt74_5YOJD7q."></div>
            </div><figcaption class="imageCaption">An outdoors event in June 2014</figcaption>
        </figure>
        <ul class="postList">
            <li id="2a9e" class="graf--li graf-after--figure"><strong class="markup--strong markup--li-strong">UK Flood</strong> <strong class="markup--strong markup--li-strong">Reliefs</strong>&#8202;—&#8202;We supported a campaign to provide relief to the areas affected by the severe floods in the UK.</li>
            <li id="f660" class="graf--li graf-after--li"><strong class="markup--strong markup--li-strong">Support for the elderly</strong>&#8202; —&#8202;Dealt with online requests in order to support the elderly. Using our volunteer network we were able to support two elderly women in our local community.</li>
            <li id="7209" class="graf--li graf-after--li">Supported Addiction and Cultural Stigma workshop with Alchemy Arts.</li>
            <li id="4f8c" class="graf--li graf-after--li">Helped WWOOFer (organic farm)</li>
            <li id="1e20" class="graf--li graf-after--li">Took part in Experiencing Ramadan</li>
        </ul>
        <p id="7e0b" class="graf--p graf-after--li">We’d also had a few others join us on the team to help out with anything that needed to be done. Like our dear friend Pete <img draggable="false" class="emoji" alt="👏🏻" src="https://s.w.org/images/core/emoji/2.3/svg/1f44f-1f3fb.svg">:</p>
        <figure id="d98f" class="graf--figure graf-after--p">
            <div class="aspectRatioPlaceholder is-locked"></div>
        </figure>
        <section class=" section--body">
            <div class="section-content">
                <div class="section-inner layoutSingleColumn">
                    <figure id="d98f" class="graf--figure graf-after--p">
                        <div class="aspectRatioPlaceholder is-locked">
                            <div class="progressiveMedia js-progressiveMedia graf-image is-canvasLoaded is-imageLoaded" data-scroll="native" data-image-id="0*Q3eHr4t9hwXXBCxr." data-width="960" data-height="541" data-action="zoom" data-action-value="0*Q3eHr4t9hwXXBCxr."><img class="progressiveMedia-image js-progressiveMedia-image" src="https://cdn-images-1.medium.com/max/800/0*Q3eHr4t9hwXXBCxr." data-src="https://cdn-images-1.medium.com/max/800/0*Q3eHr4t9hwXXBCxr."></div>
                        </div><figcaption class="imageCaption"><em class="markup--em markup--figure-em">Read here: </em><a class="markup--anchor markup--figure-anchor no-ajaxy" href="https://www.facebook.com/TheBlessedHub/photos/a.431946783496383.104613.399390893418639/748228355201556/?type=1&amp;theater" rel="nofollow" data-href="https://www.facebook.com/TheBlessedHub/photos/a.431946783496383.104613.399390893418639/748228355201556/?type=1&amp;theater"><em class="markup--em markup--figure-em">https://www.facebook.com/TheBlessedHub/photos/a.431946783496383.104613.399390893418639/748228355201556/?type=1&amp;theater</em></a></figcaption>
                    </figure>
                    <h4 id="dbdc" class="graf--h4 graf-after--figure">So what began to change?</h4>
                    <p id="f176" class="graf--p graf-after--h4">Initially not so much…</p>
                    <ul class="postList">
                        <li id="9fce" class="graf--li graf-after--p">The <strong class="markup--strong markup--li-strong">Football Academy</strong> project and the <strong class="markup--strong markup--li-strong">litter picks</strong> were not active during the year as we would have hoped. Trying to arrange things on this front proved difficult with most of our time being occupied by the food projects.</li>
                        <li id="9891" class="graf--li graf-after--li"><strong class="markup--strong markup--li-strong">The Unity Project</strong> was not as active as in the first year due to various reasons including the above. Despite managing to meet with the various groups and continuing to engage via message groups, things did not scale.</li>
                    </ul>
                    <figure id="8411" class="graf--figure graf-after--li graf--last">
                        <div class="aspectRatioPlaceholder is-locked">
                            <div class="aspectRatioPlaceholder-fill"></div>
                            <p><img class="graf-image" src="https://cdn-images-1.medium.com/max/800/0*Tx1g6dkAE3EuBB9m.gif" data-image-id="0*Tx1g6dkAE3EuBB9m.gif" data-width="557" data-height="300"></p>
                        </div><figcaption class="imageCaption">Let’s continue…</figcaption><figcaption class="imageCaption"></figcaption>
                    </figure>
                </div>
            </div>
        </section>
        <section class=" section--body">
            <div class="section-divider layoutSingleColumn"></div>
            <div class="section-content">
                <div class="section-inner layoutSingleColumn">
                    <h3 id="eaff" class="graf--h3 graf--leading">Year III&#8202;—&#8202;A pivot begins to emerge</h3>
                    <h4 id="0a80" class="graf--h4 graf-after--h3">A year all about regaining focus&#8202;—&#8202;16th June 2014–16th June 2015.</h4>
                    <p id="2845" class="graf--p graf-after--h4">Things began to slow down in the third year as we began to internalise: <em class="markup--em markup--p-em">one thing trumps many things</em>. The year started well as we were recognised for our work and innovative ways at the <a class="markup--anchor markup--p-anchor no-ajaxy" href="http://www.livingislam.org.uk/" rel="nofollow" data-href="http://www.livingislam.org.uk/">Living Islam Festival</a> with a nomination for a Innovation, Business and Skills award:</p>
                    <figure id="ad99" class="graf--figure graf-after--p">
                        <div class="aspectRatioPlaceholder is-locked"></div>
                    </figure>
                </div>
            </div>
        </section>
        <section class=" section--body">
            <div class="section-content">
                <div class="section-inner layoutSingleColumn">
                    <figure id="ad99" class="graf--figure graf-after--p">
                        <div class="aspectRatioPlaceholder is-locked">
                            <div class="progressiveMedia js-progressiveMedia graf-image is-canvasLoaded is-imageLoaded" data-scroll="native" data-image-id="0*FYtPIcLgk651i8vR.png" data-width="843" data-height="403" data-action="zoom" data-action-value="0*FYtPIcLgk651i8vR.png"><img class="progressiveMedia-image js-progressiveMedia-image" src="https://cdn-images-1.medium.com/max/800/0*FYtPIcLgk651i8vR.png" data-src="https://cdn-images-1.medium.com/max/800/0*FYtPIcLgk651i8vR.png"></div>
                        </div><figcaption class="imageCaption"><em class="markup--em markup--figure-em">Read here: </em><a class="markup--anchor markup--figure-anchor no-ajaxy" href="http://theblessedhub.co.uk/the-blessed-hub-award-finalists-in-innovation-and-business-2014/" rel="nofollow" data-href="http://theblessedhub.co.uk/the-blessed-hub-award-finalists-in-innovation-and-business-2014/"><em class="markup--em markup--figure-em">http://theblessedhub.co.uk/the-blessed-hub-award-finalists-in-innovation-and-business-2014/</em></a></figcaption>
                    </figure>
                    <h4 id="3ea7" class="graf--h4 graf-after--figure">So what changed?</h4>
                    <p id="cbb4" class="graf--p graf-after--h4">Everything.</p>
                    <p id="0cdf" class="graf--p graf-after--p">I mentioned this earlier&#8202;—&#8202;if I asked, <em class="markup--em markup--p-em">“What is </em><a class="markup--user markup--p-user no-ajaxy" href="https://medium.com/u/23e26c99c31f" data-href="https://medium.com/u/23e26c99c31f" data-anchor-type="2" data-user-id="23e26c99c31f" data-action="show-user-card" data-action-type="hover"><em class="markup--em markup--p-em">The Blessed Hub</em></a><em class="markup--em markup--p-em">?”</em>, the chances were that I’d be getting different answers. This was a question that began to concern us at the time. We found that people were confused over who we were and what we represented.</p>
                    <p id="7d33" class="graf--p graf-after--p">The reasons were up for debate but we could recognise them all. So we changed our focus. Bringing people on board and created a clearer vision and purpose.</p>
                    <p id="6c27" class="graf--p graf-after--p">We decided to get rid of around 90% of our work in to refocus on only three programmes:</p>
                    <ol class="postList">
                        <li id="19ce" class="graf--li graf-after--p">The Manchester Foodbank UK</li>
                        <li id="b8e8" class="graf--li graf-after--li">The Homeless Meet &amp; Feeds, and</li>
                        <li id="966a" class="graf--li graf-after--li">Programmes for the disengaged community (The Hub&#8202;—&#8202;socials).</li>
                    </ol>
                    <p id="ce81" class="graf--p graf-after--li">We had a database of over 150 volunteers, the majority of whom were looking to volunteer for the activities with the homeless. Factoring in the fact that our focus for the majority of the year was occupied by these, it made sense to go all in solely on these.</p>
                    <blockquote id="d0d1" class="graf--pullquote pullquote graf--startsWithDoubleQuote graf-after--p">
                        <p>
                            <em class="markup--em markup--pullquote-em">“…You have saved us from what would have been a week of misery and hunger and have restored our faith in humanity. We wish there were more people like yourselves, we have never felt so humbled I simply don’t know how to thank you enough. I hope we can return your kindness when we are in a better position.”&#8202;—&#8202;a foodbank parcel recepient.</em>
                        </p>
                    </blockquote>
                    <p id="f053" class="graf--p graf-after--pullquote">The Foodbank began to take operation in Salford (Irland and Cadishead) and we continued with the homeless feeds. In Ramadan, we revamped the Ramadan Resources and held a Living Ramadan all-night retreat.</p>
                    <p id="a50e" class="graf--p graf-after--p"><strong class="markup--strong markup--p-strong">Community</strong> <strong class="markup--strong markup--p-strong">projects</strong></p>
                    <ul class="postList">
                        <li id="f9d4" class="graf--li graf-after--p"><strong class="markup--strong markup--li-strong">The removal of the ‘Litter Picks’, ‘Football Academy,’ and ‘the Sisters Hub’</strong>As we began channeling our efforts on providing solutions to poverty (homelessness/foodbank) and providing a safe space for the marginalised in our community (named the Hub). We could not longer work on these.</li>
                        <li id="ba17" class="graf--li graf-after--li"><strong class="markup--strong markup--li-strong">The removal of the Unity Project &amp; Statement</strong>As a platform we promoted local activities, listed local places but we also wanted them to interact and work together. Our collaborative efforts started well with regular meetings and the eventual event we hosted. Our collective aim was to host something on an annual basis but also hold regular contact through quarterly arrangements. This united front aimed to bring change within the community to grow stronger together. We were up for a near impossible task&#8202;—&#8202;a task we still believe in. We decided this was going to be best achieved naturally within the activities we were embarking upon.</li>
                        <li id="7eca" class="graf--li graf-after--li"><strong class="markup--strong markup--li-strong"><strong class="markup--strong markup--li-strong">No more Wednesday night socials</strong></strong>During December 2013 we decided to put our Wednesday night sessions on hold with view of starting again in the new year. Due to certain circumstances we delayed this further to finally decide on a new approach. We then held a few events in Ramadan and ‘Eid in 2014. Ultimately things didn’t last long due to limited resources and matters beyond our control.</li>
                    </ul>
                    <p id="c703" class="graf--p graf-after--li"><strong class="markup--strong markup--p-strong">Online elements&#8202;—&#8202;</strong>we removed everything apart from the blog. So away went the blessed circles directory, the audio section, scholars section, the live streaming section, the meeting room, and the events page. We wanted to move towards a more community driven platform giving our team the time needed to further the work on the ground.</p>
                    <p id="0fd4" class="graf--p graf-after--p"><strong class="markup--strong markup--p-strong">Despite all of this… It didn’t take too long for us to make changes again. </strong>We narrowed down further, <em class="markup--em markup--p-em">having to stop all three</em>: the Manchester Foodbank UK, the homeless feeds and the socials.</p>
                    <p id="dd06" class="graf--p graf-after--p"><strong class="markup--strong markup--p-strong">It was time to go back to <em class="markup--em markup--p-em">keeping things simple</em>.</strong></p>
                    <figure id="b20a" class="graf--figure graf-after--p graf--last">
                        <div class="aspectRatioPlaceholder is-locked">
                            <div class="aspectRatioPlaceholder-fill"></div>
                            <p><img class="graf-image" src="https://cdn-images-1.medium.com/max/800/0*HZABuT_MMZHt8AI9.gif" data-image-id="0*HZABuT_MMZHt8AI9.gif" data-width="500" data-height="207"></p>
                        </div><figcaption class="imageCaption">Yes sir!</figcaption>
                    </figure>
                </div>
            </div>
        </section>
        <div class="section-divider layoutSingleColumn"></div>
        <div class="section-divider layoutSingleColumn"></div>
        <section class=" section--body">
            <div class="section-content">
                <div class="section-inner layoutSingleColumn">
                    <h3 id="876e" class="graf--h3 graf--leading">This Year&#8202;—&#8202;The pivot completed</h3>
                    <h4 id="24d3" class="graf--h4 graf-after--h3">Doing just one thing and the results, 16th June 2015–16th June 2016.</h4>
                    <figure id="3715" class="graf--figure graf-after--h4">
                        <div class="aspectRatioPlaceholder is-locked"></div>
                    </figure>
                </div>
            </div>
        </section>
        <section class=" section--body">
            <div class="section-content">
                <div class="section-inner layoutSingleColumn">
                    <figure id="3715" class="graf--figure graf-after--h4">
                        <div class="aspectRatioPlaceholder is-locked">
                            <div class="progressiveMedia js-progressiveMedia graf-image is-canvasLoaded is-imageLoaded" data-scroll="native" data-image-id="1*R7-TdzJx8gLG8S_DPjwABA.png" data-width="838" data-height="739" data-action="zoom" data-action-value="1*R7-TdzJx8gLG8S_DPjwABA.png"><img class="progressiveMedia-image js-progressiveMedia-image" src="https://cdn-images-1.medium.com/max/800/1*R7-TdzJx8gLG8S_DPjwABA.png" data-src="https://cdn-images-1.medium.com/max/800/1*R7-TdzJx8gLG8S_DPjwABA.png"></div>
                        </div><figcaption class="imageCaption">The website iterations over the years</figcaption>
                    </figure>
                    <p id="7de1" class="graf--p graf-after--figure">We’d also sponsored the third annual <a class="markup--anchor markup--p-anchor no-ajaxy" href="https://www.facebook.com/TheBlessedHub/photos/pb.399390893418639.-2207520000.1459112782./1015096881848034/?type=3&amp;theater" rel="nofollow" data-href="https://www.facebook.com/TheBlessedHub/photos/pb.399390893418639.-2207520000.1459112782./1015096881848034/?type=3&amp;theater">Street Iftar</a>, <a class="markup--anchor markup--p-anchor no-ajaxy" href="https://www.facebook.com/TheBlessedHub/photos/pb.399390893418639.-2207520000.1459112781./1016251691732553/?type=3&amp;theater" rel="nofollow" data-href="https://www.facebook.com/TheBlessedHub/photos/pb.399390893418639.-2207520000.1459112781./1016251691732553/?type=3&amp;theater">annual convert Iftar socials</a>, and the ‘Eid ul Fitr and ‘Eid ul Adha parties.</p>
                    <p id="99c5" class="graf--p graf-after--p">But this year we completed our change when we launched <a class="markup--anchor markup--p-anchor no-ajaxy" href="http://theblessedhub.co.uk" rel="nofollow" data-href="http://theblessedhub.co.uk">The Blessed Hub Curated</a>.</p>
                    <p id="db45" class="graf--p graf-after--p">This is when things clicked.</p>
                    <p id="74bb" class="graf--p graf-after--p">The three things (discovery, giving and growth) we orginally set out to do when we launched could have been done quicker and in a simpler fashion. We’ve achieved this in our current set-up. How?</p>
                    <p id="5a6f" class="graf--p graf-after--p"><strong class="markup--strong markup--p-strong">We packaged all three elements into a weekly email publication!</strong></p>
                    <p id="bf87" class="graf--p graf-after--p">As I write this, we’ve sent out 56 issues and The Blessed Hub remains an unregistered small charity with limited spend relying upon small donations ever since we formed in June 2012.</p>
                    <p id="d2b8" class="graf--p graf-after--p">Today without those projects, The Blessed Hub focuses solely on growing and inspiring faith. We simply share what we find of value around our core pillars and curate them into a publication.</p>
                    <blockquote id="c884" class="graf--pullquote pullquote graf-after--p graf--last">
                        <p>
                            The Blessed Hub inspires positive Muslim living by helping people grow in their faith, impact their community, and discover meaningful events, content, and products.
                        </p>
                    </blockquote>
                </div>
            </div>
        </section>
        <section class=" section--body">
            <div class="section-content">
                <div class="section-inner layoutSingleColumn">
                    <figure id="fadd" class="graf--figure graf--leading">
                        <div class="aspectRatioPlaceholder is-locked">
                            <div class="aspectRatioPlaceholder-fill"></div>
                            <p><img class="graf-image" src="https://cdn-images-1.medium.com/max/800/1*rLK9YIh4U8kXfs5AQXzoNA.gif" data-image-id="1*rLK9YIh4U8kXfs5AQXzoNA.gif" data-width="718" data-height="404" data-action="zoom" data-action-value="1*rLK9YIh4U8kXfs5AQXzoNA.gif"></p>
                        </div><figcaption class="imageCaption">Waaaaaaiiiit!</figcaption>
                    </figure>
                    <h3 id="7983" class="graf--h3 graf-after--figure">What happened to the food bank, homeless and the new Muslim projects?</h3>
                    <p id="8d33" class="graf--p graf-after--h3">One of the most important things to emerge from our work was the inspiration and example it provided to others. We began to see many local organisations being established to do the same things such as feeding the homeless and starting food banks (even using the same designs!). We’ve advised many individuals, groups and organisations to date from all over the country.</p>
                    <p id="b944" class="graf--p graf-after--p">In this sense our work and its legacy has continued in one way or another despite no longer doing the outreach work ourselves.</p>
                    <p id="314e" class="graf--p graf-after--p">Two noteworthy initiatives that have been established are:</p>
                    <ol class="postList">
                        <li id="44eb" class="graf--li graf-after--p"><a class="markup--anchor markup--li-anchor no-ajaxy" href="http://www.facebook.com/thehomelesshub" rel="nofollow" data-href="http://www.facebook.com/thehomelesshub"><strong class="markup--strong markup--li-strong">The Homeless Hub</strong></a><strong class="markup--strong markup--li-strong">&#8202;</strong>—&#8202;Dedicated volunteers built upon the work done with TBH to build a new organisation named <em class="markup--em markup--li-em">The Homeless Hub (THH)</em>. Six years of work, still going strong. TBH has no connection to this other than having been a proud sponsor and having members that were on TBH team. I’m a trustee at THH for example, and I’m looking forward to seeing the fruits of our current endeavours come to life.</li>
                        <li id="561d" class="graf--li graf-after--li"><a class="markup--anchor markup--li-anchor no-ajaxy" href="http://www.theurbansanctuary.org.uk" rel="nofollow" data-href="http://www.theurbansanctuary.org.uk"><strong class="markup--strong markup--li-strong">The Urban Sanctuary</strong></a><strong class="markup--strong markup--li-strong">&#8202;</strong>— &#8202;The work with new Muslims, Muslim converts, returnees and the disengaged community has also continued. This work is now being carried forward by The Urban Sanctuary UK.</li>
                    </ol>
                    <p id="6383" class="graf--p graf-after--li">Not everything will go the way you plan them out. Today we’re doing what we do best&#8202;—&#8202;sharing curated content for the growth and inspiration of the faithful.</p>
                    <p id="c5a6" class="graf--p graf-after--p"><strong class="markup--strong markup--p-strong">Despite all of this, we are now launching something else…</strong></p>
                    <p id="e768" class="graf--p graf-after--p"><strong class="markup--strong markup--p-strong">BUT you’ll have to wait for me to tell you about that…</strong></p>
                    <figure id="3afe" class="graf--figure graf-after--p">
                        <div class="aspectRatioPlaceholder is-locked">
                            <div class="aspectRatioPlaceholder-fill"></div>
                            <p><img class="graf-image" src="https://cdn-images-1.medium.com/max/800/0*Pesr8SZ0NxaXGZqG.gif" data-image-id="0*Pesr8SZ0NxaXGZqG.gif" data-width="480" data-height="270"></p>
                        </div>
                    </figure>
                </div>
            </div>
        </section>

    </div>

</div>
