﻿
@{
    ViewBag.Title = "Legacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="container">

        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Legacy</li>
            </ol>
        </h6>
    </div>
</div>

<div class="container">

    <div class="wpb_wrapper">

        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <h3 id="e911" class="graf--h3 graf-after--figure">The Legacy Project and The Blessed Hub’s 4th Anniversary</h3>
                <h4 id="b6a0" class="graf--h4 graf-after--h3">The launch of a brand new project</h4>

            </div>
        </div>

        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <section class=" section--body section--first">
                    <div class="section-content">
                        <div class="section-inner layoutSingleColumn">
                            <p id="8779" class="graf--p graf-after--h4 graf--last"><em class="markup--em markup--p-em">By Kaamilah Ahmad&nbsp;, Legacy Project manager</em></p>
                        </div>
                    </div>
                </section>
                <div class="section-divider layoutSingleColumn"></div>
                <section class=" section--body">
                    <div class="section-divider layoutSingleColumn">Today is a very special day for us at <a class="markup--user markup--p-user no-ajaxy" href="https://medium.com/u/23e26c99c31f" data-href="https://medium.com/u/23e26c99c31f" data-anchor-type="2" data-user-id="23e26c99c31f" data-action="show-user-card" data-action-type="hover">The Blessed Hub</a> for two reasons. The first being that it’s The Blessed Hub’s fourth birthday, and the second being that today is also the official launch of a brand new project!</div>
                    <div class="section-content"></div>
                </section>
                <section class=" section--body">
                    <div class="section-content">
                        <div class="section-inner layoutSingleColumn">
                            <figure id="1364" class="graf--figure graf-after--p">
                                <div class="aspectRatioPlaceholder is-locked">
                                    <div class="progressiveMedia js-progressiveMedia graf-image is-canvasLoaded is-imageLoaded" data-scroll="native" data-image-id="1*jwtzbo-gLLRKl7iXq9Zifw.png" data-width="800" data-height="800" data-action="zoom" data-action-value="1*jwtzbo-gLLRKl7iXq9Zifw.png"><img class="progressiveMedia-image js-progressiveMedia-image" src="https://cdn-images-1.medium.com/max/800/1*jwtzbo-gLLRKl7iXq9Zifw.png" data-src="https://cdn-images-1.medium.com/max/800/1*jwtzbo-gLLRKl7iXq9Zifw.png"></div>
                                </div>
                            </figure>
                            <p id="1db7" class="graf--p graf-after--figure">Before getting into new project specifics, in light of our fourth birthday, we would like to extend a heart-felt ‘thank you’ to each and every one of you for showing us your undying support. It has been a spectacular four years full of giving, growing and learning together. If you’ve read one of our latest articles, <a class="markup--anchor markup--p-anchor no-ajaxy" href="https://medium.com/the-blessed-hub/the-blessed-hub-an-unexpected-journey-p-1-80d68f7ab677#.4fn8kgbeh" data-href="https://medium.com/the-blessed-hub/the-blessed-hub-an-unexpected-journey-p-1-80d68f7ab677#.4fn8kgbeh"><em class="markup--em markup--p-em">The Blessed Hub: An Unexpected Journey</em></a> authored by our founder, or followed us for some time, you’ll be aware of just <em class="markup--em markup--p-em">how</em> spectacular these past four years have been.</p>
                            <p id="b74c" class="graf--p graf-after--p graf--last">We want to remind you that we do what we do in order to serve you, and we hope that you will continue to support us in making this a reality in the foreseeable future.</p>
                        </div>
                    </div>
                </section>
                <div class="section-divider layoutSingleColumn"></div>
                <section class=" section--body">
                    <div class="section-content">
                        <div class="section-inner layoutSingleColumn">
                            <h3 id="ea96" class="graf--h3 graf--leading">The legacy Project</h3>
                            <p id="5d0d" class="graf--p graf-after--h3">The countdown is finally over!</p>
                            <p id="80c4" class="graf--p graf-after--p">Allow me to introduce you to <a class="markup--anchor markup--p-anchor no-ajaxy" href="http://www.theblessedhub.co.uk/legacy" rel="nofollow" data-href="http://www.theblessedhub.co.uk/legacy"><em class="markup--em markup--p-em">The Legacy Project</em></a>. Let’s get straight into it shall we?</p>
                            <p id="922c" class="graf--p graf-after--p">It all started a couple of months back, when The Blessed Hub founders and a handful of us volunteers came together to discuss the possibility of a new project. We clashed heads and brainstormed a couple of ideas bearing in mind that the project we would finally agree upon, would be something that is missing in our community&#8202;—&#8202;something that is needed, beneficial and long-term.</p>
                            <p id="8f79" class="graf--p graf-after--p">It didn’t take us long to identify what we needed.</p>
                            <p id="527b" class="graf--p graf-after--p"><em class="markup--em markup--p-em">A</em><strong class="markup--strong markup--p-strong"><em class="markup--em markup--p-em"> project offering monetary support to Muslim Mancunians where it concerns their educational pursuits.</em></strong> This my friends, was the beginning of the birth of The Legacy Project.</p>
                            <p id="abaf" class="graf--p graf-after--p">It doesn’t need much of an in depth explanation since much like it’s formation, the idea behind The Legacy Project is simple and straightforward.</p>
                            <p id="5db4" class="graf--p graf-after--p">The Legacy Project’s mission is indeed reflective of that too: <strong class="markup--strong markup--p-strong"><em class="markup--em markup--p-em">“supporting you in your educational pursuits as best we can.”</em></strong> Tying into this, is the fact that we want to encourage education and continue the legacy that it leaves behind for coming generations, and if helping towards the cost of your learning materials, stationary, travel expenses, food costs, course fees, course related equipment or otherwise facilitates that, then we are at your service!</p>
                            <h4 id="9043" class="graf--h4 graf-after--p">What is the scope?</h4>
                            <p id="a46f" class="graf--p graf-after--h4">Because The Legacy Project is a <em class="markup--em markup--p-em">‘small-money project,’</em> the largest sum that we will endow to any given individual, small-time registered charity, non-profit organisation and initiative depending on their specified needs, is around £100.</p>
                            <p id="eb6b" class="graf--p graf-after--p">Before we narrowed the project’s purpose down to it’s current one, we spoke idealistically of providing monetary support to the Muslim community who are financially struggling, disabled, need quick access to finance for unexpected emergencies and much more.</p>
                            <p id="c5c8" class="graf--p graf-after--p">Realistically speaking however, we’d need to have a whole lot of money and resources ready at our disposal&#8202;—&#8202;which we currently don’t&#8202;—&#8202;to make this happen.</p>
                            <p id="a9ab" class="graf--p graf-after--p">It isn’t unachievable though that’s for sure! <strong class="markup--strong markup--p-strong">We do aim to extend our reach in terms of monetary support in the coming future</strong>.</p>
                            <h4 id="f6e3" class="graf--h4 graf-after--p">Relevance</h4>
                            <p id="0b0b" class="graf--p graf-after--h4">The relevance of this project couldn’t be more pronounced, and I say this from personal experience.</p>
                            <p id="5772" class="graf--p graf-after--p">Over a year ago, I wanted to enrol onto <a class="markup--anchor markup--p-anchor no-ajaxy" href="http://isyllabus.org.uk/course/isyllabus-one-year-diploma" rel="nofollow" data-href="http://isyllabus.org.uk/course/isyllabus-one-year-diploma">the iSyllabus one year diploma</a>&#8202; —&#8202;an introductory course into Islamic Sciences that many of you may have heard about. The thing is, I was an unemployed, final year university student and didn’t have £10 to spare let alone £345 for the course fee. Even if I did manage to scrape together £345 from somewhere, how was I going to pay for my travel costs there and back? With that being said, I accepted that I’d have to abandon any plans of studying religion for a while despite the fact that it was necessary. I wasn’t the only person in this situation either, I knew plenty of people in the same predicament.</p>
                            <p id="075b" class="graf--p graf-after--p">Although in the end I got lucky&#8202;—&#8202;I was offered a free place via The Blessed Hub, courtesy of the shuyukh at iSyllabus&#8202;—&#8202;others didn’t. This is where we could have done with the likes of a Legacy Project. In retrospect, had I not landed myself a free iSyllabus place, and monetary support was available to help pursue my educational pursuit, I personally would have sought it.</p>
                            <h3 id="1262" class="graf--h3 graf-after--p">So can you apply then?</h3>
                            <p id="0291" class="graf--p graf-after--h3">You can indeed if you are a Muslim Resident of Greater Manchester and meet one or more of the following criteria:</p>
                            <p id="18b8" class="graf--p graf-after--p">• You are a student of knowledge be it islamic or otherwise</p>
                            <p id="8409" class="graf--p graf-after--p">• You need to purchase materials or equipment required for short to medium term studies</p>
                            <p id="c9f5" class="graf--p graf-after--p">• You need help towards living costs including, food, travel and accommodation required to undergo or continue short to medium studies</p>
                            <p id="e53e" class="graf--p graf-after--p">• You are a non-profit organisation or initiative with your own governing body, committee &amp; bank account</p>
                            <p id="54f2" class="graf--p graf-after--p">• You need help towards the costs of a short to medium term course</p>
                            <p id="719e" class="graf--p graf-after--p">• You are a small-time registered charity</p>
                            <h3 id="e0c5" class="graf--h3 graf-after--p">How can you apply?</h3>
                            <p id="b5db" class="graf--p graf-after--h3">You can apply for monetary support through our website:</p>
                            <p id="55ef" class="graf--p graf-after--p"><a class="markup--anchor markup--p-anchor no-ajaxy" href="http://www.theblessedhub.co.uk/legacy" rel="nofollow" data-href="http://www.theblessedhub.co.uk/legacy">www.theblessedhub.co.uk/legacy</a></p>
                            <p id="848a" class="graf--p graf-after--p">All you need to do is click on the <a class="markup--anchor markup--p-anchor no-ajaxy" href="http://theblessedhub.co.uk/legacy/#apply" rel="nofollow" data-href="http://theblessedhub.co.uk/legacy/#apply">Apply</a> tab, select the application relevant to you and fill it in.</p>
                            <p id="da97" class="graf--p graf-after--p">Once this is done, you will receive an automated confirmation email. A Legacy Project Volunteer will then review your application and confirm whether or not you will be granted a sum under the figure of £100.</p>
                            <p id="373a" class="graf--p graf-after--p">It is important to note that in centrality to The Legacy Project’s aim, priority is given to those who are in need of monetary support the most. If for whatever reason an applicant doesn’t happen to receive monetary support the first time around, they should not be discouraged from applying again in the future.</p>
                            <p id="606a" class="graf--p graf-after--p">This everyone, is The Legacy Project in a nutshell.</p>
                            <p id="d0eb" class="graf--p graf-after--p">To finish up, we’d once again like to thank you for all of your support. We hope that you will take full advantage of this new project centred around you, for you!</p>
                            <p id="1d5b" class="graf--p graf-after--p">Please do help us to reach people who may be in need of The Legacy Project by liking, sharing and commenting on this article post. If you have any queries about this project in the meantime, please feel free to send us an email to legacy@theblessedhub.co.uk&nbsp;.</p>
                            <p id="9280" class="graf--p graf-after--p">Until we meet again, my friends!</p>
                            <p id="7bbb" class="graf--p graf-after--p graf--last">Kamma.</p>
                        </div>
                    </div>
                </section>

            </div>
        </div>

    </div>
</div>

