﻿
@{
    ViewBag.Title = "Lessons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="container">

        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Lessons learnt</li>
            </ol>
        </h6>
    </div>
</div>

<div class="container">

    <div class="wpb_wrapper">
        <section class=" section--body section--first">
            <div class="section-content">
                <div class="section-inner layoutSingleColumn">
                    <h3 id="7465" class="graf--h3 graf-after--figure">12 Lessons Learnt At The Orange Tree</h3>
                    <h4 id="07a3" class="graf--h4 graf-after--h3">Part 2 of <a class="markup--anchor markup--h4-anchor no-ajaxy" href="https://medium.com/the-blessed-hub/the-blessed-hub-an-unexpected-journey-p-1-80d68f7ab677" data-href="https://medium.com/the-blessed-hub/the-blessed-hub-an-unexpected-journey-p-1-80d68f7ab677">The Blessed Hub: An Unexpected Journey</a></h4>
                    <p id="dfde" class="graf--p graf-after--h4"><em class="markup--em markup--p-em">By </em><a class="markup--user markup--p-user no-ajaxy" href="https://medium.com/u/62769f78b5b2" data-href="https://medium.com/u/62769f78b5b2" data-anchor-type="2" data-user-id="62769f78b5b2" data-action="show-user-card" data-action-type="hover"><em class="markup--em markup--p-em">Qāri Mubashir Anwar</em></a></p>
                    <p id="9da1" class="graf--p graf-after--p">Before we go into telling you about the new project, I wanted to continue on from <a class="markup--anchor markup--p-anchor no-ajaxy" href="https://medium.com/the-blessed-hub/the-blessed-hub-an-unexpected-journey-p-1-80d68f7ab677" data-href="https://medium.com/the-blessed-hub/the-blessed-hub-an-unexpected-journey-p-1-80d68f7ab677">Part 1</a>.</p>
                    <p id="73c2" class="graf--p graf-after--p">Here I’ll share some insights on some lessons learnt during this journey.</p>
                    <p id="5b8a" class="graf--p graf-after--p">I’ve not given this write-up much time and thought but, I’ve tried to be as authentic and as real as I can. That means it is a first draft with it’s errors as it was something that I just needed to put out. As you’ll see, this is a thesis I’ve always lived up to. Maybe I’ll revisit what I’ve written here and add to it one day. Perhaps also, one of the other members of The Blessed Hub could share their learnings too.</p>
                    <p id="567c" class="graf--p graf-after--p">The following then, are my personal observations and I hope they may be of benefit to you in some way.</p>
                    <h3 id="996d" class="graf--h3 graf-after--p">The more you ponder, the more you squander</h3>
                    <p id="b743" class="graf--p graf-after--h3"><em class="markup--em markup--p-em">You have to start. Hoping and dreaming will result in nothing</em>.</p>
                    <p id="0a3f" class="graf--p graf-after--p">When I first went to Cairo in <a class="markup--anchor markup--p-anchor no-ajaxy" href="https://medium.com/how-to-memorise-the-quran/how-an-ordinary-person-can-memorise-the-qur-an-in-6-months-ea4ef00eceb3#.b5zailm15" data-href="https://medium.com/how-to-memorise-the-quran/how-an-ordinary-person-can-memorise-the-qur-an-in-6-months-ea4ef00eceb3#.b5zailm15">2005/2006</a>, I didn’t know where I was going to stay. Not only that, I didn’t know where and with whom I was going to study. I just packed my bags and left. Why would I do that? The excitement aside, most things just don’t matter.</p>
                    <p id="8d99" class="graf--p graf-after--p">When we started The Blessed Hub, it was a similar.</p>
                    <p id="eb57" class="graf--p graf-after--p">We didn’t bother about a fancy website, a fancy logo or a fancy new office. We didn’t need everything to be perfect. We just had to get it out there and execute against our skills. When I started sharing over the <a class="markup--anchor markup--p-anchor no-ajaxy" href="http://www.howtomemorisethequran.com" rel="nofollow" data-href="http://www.howtomemorisethequran.com">How To Memorise The Qur’an platform</a>, I had a vision but everything wasn’t in place. I made a simple page asking people to sign up for a book for which I hadn’t even written a single sentence for. Today, we have a global community. Execution is everything.</p>
                    <figure id="3945" class="graf--figure graf-after--p">
                        <div class="aspectRatioPlaceholder is-locked">
                            <div class="aspectRatioPlaceholder-fill"></div>
                            <p><img class="graf-image" src="https://cdn-images-1.medium.com/max/800/0*DzElGZSXZlyVAEip.gif" data-image-id="0*DzElGZSXZlyVAEip.gif" data-width="299" data-height="360"></p>
                        </div>
                    </figure>
                    <h3 id="6cfc" class="graf--h3 graf-after--figure">Start something you’re genuinely passionate about</h3>
                    <p id="35d6" class="graf--p graf-after--h3">Otherwise don’t do it. The most important thing is to make sure whatever it is that you start, you are personally passionate about it. It can’t be just a big idea or because you saw somebody else do it. You’ll have to fight and grind every single day, and you’ll be less likely to give up during the hard times if it’s something you deeply care about. Right?</p>
                    <figure id="181d" class="graf--figure graf-after--p">
                        <div class="aspectRatioPlaceholder is-locked">
                            <div class="aspectRatioPlaceholder-fill"></div>
                            <p><img class="graf-image" src="https://cdn-images-1.medium.com/max/800/0*wmujSVQLDhH1EqWL.gif" data-image-id="0*wmujSVQLDhH1EqWL.gif" data-width="300" data-height="169"></p>
                        </div>
                    </figure>
                    <h3 id="0e16" class="graf--h3 graf-after--figure">It is a long term game</h3>
                    <p id="07fa" class="graf--p graf-after--h3">If you start something you have a passion for, a talent for, and a genuine concern for&#8202;—&#8202;long term isn’t 3 or 5 years. Long term is for life. This behaviour yeilds results. Back in 2012, in a presentation I spoke about the orange tree. I used it as an example of how the growth of a tree from seed to fruit can take up to a decade. The point is this, what we do today is a plantation for the future.</p>
                    <figure id="b1c9" class="graf--figure graf-after--p">
                        <div class="aspectRatioPlaceholder is-locked">
                            <div class="aspectRatioPlaceholder-fill"></div>
                            <p><img class="graf-image" src="https://cdn-images-1.medium.com/max/800/0*fC8FkJY71w0viOO5.gif" data-image-id="0*fC8FkJY71w0viOO5.gif" data-width="340" data-height="256"></p>
                        </div>
                    </figure>
                    <h3 id="dfa0" class="graf--h3 graf-after--figure">More collaboration, less isolation</h3>
                    <p id="a9b9" class="graf--p graf-after--h3">We’ve had the honour of promoting thousands of events and courses over the years. We get to see what’s going on, who’s doing what, and what’s not happening. We see many trends as a result. What I like to call ‘triggers’ for example. One organisation does an event, then another does the same, and then another does the same&#8202;—&#8202;creating a circle of the same events. All the events have been diverse ranging from social to educational. There is a lot of good.</p>
                    <p id="4a64" class="graf--p graf-after--p">But I want to talk about another side of the coin.</p>
                    <p id="cd3c" class="graf--p graf-after--p">Perhaps the greatesta reflection is that around the idea of ‘cooperative spirits’ and what may seem to be ‘competition’.</p>
                    <p id="61cd" class="graf--p graf-after--p">We are reminded in the Qur’an, Surah al-Takāthur (verse 1–2) that <em class="markup--em markup--p-em">“Your greed for massive wealth and superiority complex (fierce competition) has made you negligent (distracted of the Hereafter), until you go down to the graves.”</em></p>
                    <p id="c590" class="graf--p graf-after--p">When we speak about competing, particularly with fellow Muslims in striving for the good and achieving pleasure of God, that is commendable with the right intentions. The Beloved Prophet (peace and blessings of God be upon him) used to urge his noble companions to be competitive in doing good deeds. If you study the companions’ lives, you will find it. Al-Hasan al-Basri (God be well pleased with him) said: “<em class="markup--em markup--p-em">If someone vies with you in your religion, you must vie with him; and if someone vies with you in this worldly life, then leave it to him</em>.”</p>
                    <p id="5a49" class="graf--p graf-after--p">At <a class="markup--user markup--p-user no-ajaxy" href="https://medium.com/u/23e26c99c31f" data-href="https://medium.com/u/23e26c99c31f" data-anchor-type="2" data-user-id="23e26c99c31f" data-action="show-user-card" data-action-type="hover">The Blessed Hub</a>, we attempted to create the former through collaboration in the shape of the unity project. We’ve always been non-organisational and independent. Yet, on numerous occasions we’d had enquiries from individuals or groups in the same city could start doing the same projects that we were doing. It saddens me to say, but our communities seem to have become copy and paste artists. What we’d put forward to enquirers was simple. “There’s a service already in existence, that is not profiteering but striving to make a difference. Why not join hands and make it stronger than anything out there?” We’d often fall on deaf ears.</p>
                    <p id="1220" class="graf--p graf-after--p">A question we have to introspectively engage in daily is: are we really doing it for the sake of God and His Messenger (peace and blessings of God be upon him)?</p>
                    <p id="7bdc" class="graf--p graf-after--p"><a class="markup--anchor markup--p-anchor no-ajaxy" href="http://www.1stethical.com/2012/06/20/cooperative-competition/" rel="nofollow" data-href="http://www.1stethical.com/2012/06/20/cooperative-competition/">Somayya Patel</a> (credit to her for this) shares my thoughts where she puts it brilliantly:</p>
                    <blockquote id="cc3b" class="graf--pullquote pullquote graf--startsWithDoubleQuote graf-after--p">
                        <p>
                            <em class="markup--em markup--pullquote-em">“Muslims and Muslim organisations need to collaborate and work together to continue working for humanity and the Deen. Diversity definitely adds to the quality, and it’s a beautiful thing but collaborating in order to avoid repeating work that’s already been done and instead further developing it seems like the smarter option. For example, if a youth club exists in one Masjid, why not open doors and share the expertise and resources with another Masjid, and there will be plenty of opportunities for healthy competition later e.g. a football tournament. Or similarly, if a madrasah exerts great effort into making learning a relevant and enjoyable experience for children and revamp the syllabus why not share that with other madrasahs and share the khayr (good)?</em>”
                        </p>
                    </blockquote>
                    <p id="4d4b" class="graf--p graf-after--pullquote">May we work together and strive to work harder together for the sake of Allah and His Messenger (peace and blessings be upon him) and for humanity. These times call for it more than ever. If two individuals, by the grace and Divine permission of Allah, can do things— what if we could all get together, what can we then achieve?</p>
                    <figure id="109f" class="graf--figure graf-after--p">
                        <div class="aspectRatioPlaceholder is-locked">
                            <div class="aspectRatioPlaceholder-fill"></div>
                            <p><img class="graf-image" src="https://cdn-images-1.medium.com/max/800/0*nwjkxTTdzLEd00Qf.gif" data-image-id="0*nwjkxTTdzLEd00Qf.gif" data-width="500" data-height="230"></p>
                        </div>
                    </figure>
                    <h3 id="8f1f" class="graf--h3 graf-after--figure">You have to focus</h3>
                    <p id="1320" class="graf--p graf-after--h3">When we first started, we got to a point where we were running up to between 5–10 projects. We were running before we could walk. After going through our vision again, we realised we had to cut back and focus on the one or two things that really mattered to us. But also those things that we’d excelled in. Ideas are never fixed, they evolve. You have to keep focused. This doesn’t mean you don’t keep innovating, but it means you do more of what counts towards the end goal. Not doing just for the sake of doing.</p>
                    <figure id="50a2" class="graf--figure graf-after--p">
                        <div class="aspectRatioPlaceholder is-locked">
                            <div class="aspectRatioPlaceholder-fill"></div>
                            <p><img class="graf-image" src="https://cdn-images-1.medium.com/max/800/0*tmdXAiRfCr_A_A58.gif" data-image-id="0*tmdXAiRfCr_A_A58.gif" data-width="599" data-height="328"></p>
                        </div>
                    </figure>
                    <h3 id="3b7b" class="graf--h3 graf-after--figure">Love failure</h3>
                    <p id="e336" class="graf--p graf-after--h3">This is part of the game. It makes you better and helps you grow. So don’t be afraid to try things.</p>
                    <figure id="e83d" class="graf--figure graf-after--p">
                        <div class="aspectRatioPlaceholder is-locked">
                            <div class="aspectRatioPlaceholder-fill"></div>
                            <p><img class="graf-image" src="https://cdn-images-1.medium.com/max/800/0*ka47m1mSicSggjkf.gif" data-image-id="0*ka47m1mSicSggjkf.gif" data-width="490" data-height="276"></p>
                        </div>
                    </figure>
                    <h3 id="ebae" class="graf--h3 graf-after--figure"><strong class="markup--strong markup--h3-strong">Listen</strong></h3>
                    <p id="36c0" class="graf--p graf-after--h3">At The Blessed Hub we encouraged people to come and start something, or to share and exchange ideas. Encouraging learning and growth. The best ideas and feedback always come from those small conversations. So keep communicating. Nothing happens overnight but, <em class="markup--em markup--p-em">listening</em> will get you there faster. There are more smart people outside your organisation than inside. No matter what job you have, you can always learn more and do better. As Muslims, we strive for excellence as taught by the Messenger of Allah (peace and blessings of god be upon him).</p>
                    <figure id="ae7d" class="graf--figure graf-after--p">
                        <div class="aspectRatioPlaceholder is-locked">
                            <div class="aspectRatioPlaceholder-fill"></div>
                            <p><img class="graf-image" src="https://cdn-images-1.medium.com/max/800/0*JK3hnJOEa2OlFUah.gif" data-image-id="0*JK3hnJOEa2OlFUah.gif" data-width="480" data-height="270"></p>
                        </div>
                    </figure>
                    <h3 id="76d8" class="graf--h3 graf-after--figure">Our sisters are undervalued, give them opportunity</h3>
                    <p id="277f" class="graf--p graf-after--h3">When we started The Sisters Hub, this is what we thought we were doing. We’d given sisters a platform to use to establish activities, services and events. Yet the reality wasn’t as such. If we truly want to provide our women a platform, a voice and opportunity&#8202;—&#8202;they need to be involved in everything. They need to join the team at the helm of things. We were in a way saying <em class="markup--em markup--p-em">“Sisters, you need a platform to do things but you need to do it separately.”</em> This is not what we wanted. We then scraped it and got them on board the team and hoped we’d see a new set of leadership.</p>
                    <figure id="195a" class="graf--figure graf-after--p">
                        <div class="aspectRatioPlaceholder is-locked">
                            <div class="aspectRatioPlaceholder-fill"></div>
                            <p><img class="graf-image" src="https://cdn-images-1.medium.com/max/800/0*Wn8mpjZMeuPsE065.gif" data-image-id="0*Wn8mpjZMeuPsE065.gif" data-width="250" data-height="145"></p>
                        </div>
                    </figure>
                    <h3 id="7a6b" class="graf--h3 graf-after--figure">The Muslim community needs valuable, high quality content online</h3>
                    <p id="8fec" class="graf--p graf-after--h3">After starting The Blessed Hub Curated publications last year, we’ve had to work hard on curating a well crafted and valuable email every week. This has been challenging! We cover written form, video and events around our three pillars: growth, discovery, and giving. What I’ve found is that although there is a vast array of content online&#8202;—&#8202;we really lack highly valuable high quality content. It’s been a struggle finding new, relevant and valuable content&#8202;—&#8202;week in, week out. This is something we are working on and we’d love for you to get involved with curation or creating content. Get in touch!</p>
                    <figure id="ede8" class="graf--figure graf-after--p">
                        <div class="aspectRatioPlaceholder is-locked">
                            <div class="aspectRatioPlaceholder-fill"></div>
                            <p><img class="graf-image" src="https://cdn-images-1.medium.com/max/800/0*sMYRWT7Gh5rpgIOd.gif" data-image-id="0*sMYRWT7Gh5rpgIOd.gif" data-width="898" data-height="480" data-action="zoom" data-action-value="0*sMYRWT7Gh5rpgIOd.gif"></p>
                        </div>
                    </figure>
                    <h3 id="8108" class="graf--h3 graf-after--figure">You have to put in the work, but you must be practical</h3>
                    <p id="373c" class="graf--p graf-after--h3">What we do at the Hub is voluntary and part time but we treat it as though it were full time. For anything to be successful, you need to allocate time towards it. People do not realise how hard it is and the sacrifices one has to make in making it a success. We respect practicality at the Hub. This comes from self awareness. You have to be honest and real with yourself.</p>
                    <figure id="b4a1" class="graf--figure graf-after--p">
                        <div class="aspectRatioPlaceholder is-locked">
                            <div class="aspectRatioPlaceholder-fill"></div>
                            <p><img class="graf-image" src="https://cdn-images-1.medium.com/max/800/0*6N_nvrIJVEQ0vYsP.gif" data-image-id="0*6N_nvrIJVEQ0vYsP.gif" data-width="700" data-height="394"></p>
                        </div>
                    </figure>
                    <h3 id="aaaa" class="graf--h3 graf-after--figure">Remember Who you are doing it for</h3>
                    <p id="677c" class="graf--p graf-after--h3">Keep your intentions under check, always. If your intentions are good, you will attract good. Your actions should match who you want to be too. We work for Him and hope for Him.</p>
                    <figure id="cc3a" class="graf--figure graf-after--p">
                        <div class="aspectRatioPlaceholder is-locked">
                            <div class="aspectRatioPlaceholder-fill"></div>
                            <p><img class="graf-image" src="https://cdn-images-1.medium.com/max/800/0*ouHnce2XkfRa6ZsF.gif" data-image-id="0*ouHnce2XkfRa6ZsF.gif" data-width="475" data-height="200"></p>
                        </div>
                    </figure>
                    <p id="3607" class="graf--p graf-after--figure">And lastly, be patient.</p>
                    <p id="afde" class="graf--p graf-after--p">We’ll tell you what the project is soon!</p>
                    <figure id="5300" class="graf--figure graf-after--p graf--last">
                        <div class="aspectRatioPlaceholder is-locked">
                            <div class="aspectRatioPlaceholder-fill"></div>
                            <p><img class="graf-image" src="https://cdn-images-1.medium.com/max/800/0*YB6lqLLubn7xQl9I.gif" data-image-id="0*YB6lqLLubn7xQl9I.gif" data-width="400" data-height="230"></p>
                        </div>
                    </figure>
                </div>
            </div>
        </section>
        <section class=" section--body"></section>

    </div>
</div>