﻿
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="container">

        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Privacy policy</li>
            </ol>
        </h6>
    </div>
</div>
<div class="container">
    <div class="wpb_wrapper">
        <p><strong>Privacy policy</strong></p>
        <p>We are committed to safeguarding the privacy of our website visitors; this policy sets out how we will treat your personal information.</p>
        <p><strong>(1) What information do we collect?</strong></p>
        <p>We may collect, store and use the following kinds of personal or non-personal data:</p>
        <p>(a) information about your computer and about your visits to and use of this website (including your IP address, geographical location, browser type, referral source, length of visit, pages viewed and activity on each page);</p>
        <p>(b) information that you provide to us for the purpose of subscribing to our website services, email notifications and/or newsletters (including contact details, payment information, etc.);</p>
        <p>(c) any other information that you choose to send to us.</p>
        <p><strong>(2) Cookies</strong></p>
        <p>A&nbsp;cookie consists of information sent by a web server to a web browser, and stored by the browser. The information is then sent back to the server each time the browser requests a page from the server. This enables the web server to identify and track the web browser.</p>
        <p>We use both “session” cookies and “persistent” cookies on our websites. We will use the session cookies to: keep track of you whilst you navigate the website; and to monitor user behaviour for statistical and marketing purposes. We will use the persistent cookies to: enable our website to recognise you when you visit;</p>
        <p>Session cookies will be deleted from your computer when you close your browser. Persistent cookies will remain stored on your computer until deleted, or until they reach a specified expiry date.</p>
        <ul>
            <li>We use Google Analytics to analyse the use of this website. Google Analytics generates statistical and other information about website use by means of cookies, which are stored on users’ computers. The information generated relating to our website is used to create reports about the use of the website. Google will store this information. View Google’s&nbsp;<a href="http://www.google.com/policies/privacy/">privacy policy</a>.&nbsp;You can choose to&nbsp;<a href="http://tools.google.com/dlpage/gaoptout">opt out of Google Analytics</a>.</li>
            <li>We use Social Network Buttons for Twitter and Facebook. These generate data sharing and non-personal data collection. View Twitter’s&nbsp;<a href="http://twitter.com/privacy">privacy policy</a>&nbsp;and Facebook’s&nbsp;<a href="http://www.facebook.com/about/privacy/">privacy policy</a>.</li>
        </ul>
        <p>Most browsers allow you to reject all cookies, whilst some browsers allow you to reject just third party cookies. For example, in Internet Explorer you can refuse all cookies by clicking “Tools”, “Internet Options”, “Privacy”, and selecting “Block all cookies” using the sliding selector. Blocking all cookies will, however, have a negative impact upon the usability of many websites, including this one.</p>
        <p>AVG Anti Virus offer a Do Not Track plugin which informs you of what cookies are being used on every website. It allows you to block such cookies. See&nbsp;<a href="http://www.avg.com/gb-en/do-not-track">AVG</a>.</p>
        <p><strong>(3) Using your personal data</strong></p>
        <p>Personal data submitted on this website will be used for the purposes specified in this privacy policy or in relevant parts of the website.</p>
        <p>We may use your personal information to:</p>
        <p>(a) administer the website;</p>
        <p>(b) improve your browsing experience by personalising the website;</p>
        <p>(c) enable your use of the services available on the website;</p>
        <p>(d) send you general (non-marketing) commercial communications;</p>
        <p>(e) send you email notifications which you have specifically requested;</p>
        <p>(f) send to you our newsletter(s) and other marketing communications relating to our business which we think may be of interest to you by post or, by email or similar technology (you can inform us at any time if you no longer require marketing communications)</p>
        <p>(g) provide third parties with statistical information about our users – but this information will not be used to identify any individual user;</p>
        <p>(h) deal with enquiries and complaints made by or about you relating to the website;</p>
        <p>Where you submit personal information for publication on our website, we will publish and otherwise use that information in accordance with the license you grant to us.</p>
        <p>We will not without your express consent provide your personal information to any third parties for the purpose of direct marketing.</p>
        <p>All our website financial transactions are handled through our payment services provider,&nbsp;<a href="https://gocardless.com/">GoCardless</a>. You should only provide your personal information to GoCardless after reviewing the&nbsp;<a href="https://gocardless.com/privacy">GoCardless privacy policy</a>. We will share information with GoCardless only to the extent necessary for the purposes of processing payments you make via our website.</p>
        <p><strong>(4) Disclosures</strong></p>
        <p>We may disclose information about you to any of our employees, officers, agents, suppliers or subcontractors insofar as reasonably necessary for the purposes as set out in this privacy policy.</p>
        <p>In addition, we may disclose information about you:</p>
        <p>(a) to the extent that we are required to do so by law;</p>
        <p>(b) in connection with any legal proceedings or prospective legal proceedings;</p>
        <p>(c) in order to establish, exercise or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk); and</p>
        <p>(d) to the purchaser (or prospective purchaser) of any business or asset which we are (or are contemplating) selling.Except as provided in this privacy policy, we will not provide your information to third parties.</p>
        <p><strong>(5) Policy amendments</strong></p>
        <p>We may update this privacy policy from time-to-time by posting a new version on our website. You should check this page occasionally to ensure you are happy with any changes.</p>
        <p>We may also notify you of changes to our privacy policy by email.</p>
        <p><strong>(6) Your rights</strong></p>
        <p>You may instruct us to provide you with any personal information we hold about you. Provision of such information may be subject to the payment of a fee.</p>
        <p>You may instruct us not to process your personal data for marketing purposes by email at any time. (In practice, you will usually either expressly agree in advance to our use of your personal data for marketing purposes, or we will provide you with an opportunity to opt-out of the use of your personal data for marketing purposes.)</p>
        <p><strong>(7) Third party websites</strong></p>
        <p>The website contains links to other websites. We are not responsible for the privacy policies or practices of third party websites.</p>
        <p><strong>(8) Updating information</strong></p>
        <p>Please let us know if the personal information which we hold about you needs to be corrected or updated.</p>
        <p><strong>(9) Contact</strong></p>
        <p>If you have any questions about this privacy policy or our treatment of your personal data, please write to us by email to theblessedhub@gmail.com.</p>

    </div>
</div>


