﻿
@{
    ViewBag.Title = "PursuitOfHappiness";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="container">
        <br />  <br />
        <div class="content-inner">





            <div id="fws_5d4afa0a0230c" data-midnight="dark" data-bg-mobile-hidden="" class="wpb_row vc_row-fluid vc_row standard_section   " style="padding-top: 0px; padding-bottom: 0px; ">
                <div class="row-bg-wrap instance-0"><div class="inner-wrap"> <div class="row-bg    " style="" data-color_overlay="" data-color_overlay_2="" data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div></div> </div><div class="col span_12 dark left">
                    <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding instance-0" data-shadow="none" data-border-animation="" data-border-animation-delay="" data-border-width="none" data-border-style="" data-border-color="" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">

                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h3 id="ab61" class="graf--h3 graf--leading graf--last">The Pursuit of Happiness: 10 Lifehacks to Happiness</h3>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fws_5d4afa0a03164" data-midnight="dark" data-bg-mobile-hidden="" class="wpb_row vc_row-fluid vc_row standard_section   " style="padding-top: 0px; padding-bottom: 0px; ">
                <div class="row-bg-wrap instance-1"><div class="inner-wrap"> <div class="row-bg    " style="" data-color_overlay="" data-color_overlay_2="" data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div></div> </div><div class="col span_12 dark left">
                    <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding instance-1" data-shadow="none" data-border-animation="" data-border-animation-delay="" data-border-width="none" data-border-style="" data-border-color="" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">

                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>Everyone wants to be happy. I do, you do, we all do, so here are 10 life hacks&#8202;—&#8202;personally tried and tested might I add&#8202;—&#8202;to being happy! Just believe me on this!</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fws_5d4afa0a03ba3" data-midnight="dark" data-bg-mobile-hidden="" class="wpb_row vc_row-fluid vc_row standard_section   " style="padding-top: 0px; padding-bottom: 0px; ">
                <div class="row-bg-wrap instance-2"><div class="inner-wrap"> <div class="row-bg    " style="" data-color_overlay="" data-color_overlay_2="" data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div></div> </div><div class="col span_12 dark left">
                    <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding instance-2" data-shadow="none" data-border-animation="" data-border-animation-delay="" data-border-width="none" data-border-style="" data-border-color="" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div style="height: 248px; display: block;" data-transition="slide" data-overall_style="classic" data-flexible-height="" data-animate-in-effect="zoom-out" data-fullscreen="false" data-button-sizing="regular" data-button-styling="btn_with_count" data-autorotate="" data-parallax="false" data-full-width="false" class="nectar-slider-wrap  loaded" id="ns-id-5d4afa0a040bd">
                                    <div style="height: 250px; background-color: rgb(0, 0, 0); top: -1px; width: 421px;" class="swiper-container" data-tho="auto" data-tco="auto" data-pho="auto" data-pco="auto" data-loop="false" data-height="248.1818181818182" data-min-height="" data-arrows="false" data-bullets="false" data-bullet_style="see_through" data-desktop-swipe="false" data-settings="">
                                        <div class="swiper-wrapper no-transform" style="width: 421px; height: 250px;">
                                            <div class="swiper-slide swiper-slide-visible swiper-slide-active no-transform" data-bg-alignment="center" data-color-scheme="light" data-x-pos="centered" data-y-pos="middle" style="background-color: rgb(0, 0, 0); width: 421px; height: 250px; top: -1px;">
                                                <div class="image-bg" style="background-image: url(http://theblessedhub.co.uk/wp-content/uploads/2016/06/pexels-photo.jpg);"> &nbsp; </div><div class="container">
                                                    <div class="content" style="top: 80.5px;">
                                                        <h2 style="opacity: 1; padding-top: 0px;">The Legacy Project</h2><div class="buttons" style="opacity: 1; padding-top: 0px;">
                                                            <div class="button solid_color">
                                                                <a class="extra-color-1 no-ajaxy" href="http://www.theblessedhub.co.uk/legacy">Fulfil dreams</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!--/container--><div class="video-texture active_texture" style="opacity: 1;">  </div>
                                            </div><!--/swiper-slide-->
                                        </div><div class="nectar-slider-loading " style="display: none;"> <span class="loading-icon none">   </span> </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fws_5d4afa0a062b5" data-midnight="dark" data-bg-mobile-hidden="" class="wpb_row vc_row-fluid vc_row standard_section   " style="padding-top: 0px; padding-bottom: 0px; ">
                <div class="row-bg-wrap instance-3"><div class="inner-wrap"> <div class="row-bg    " style="" data-color_overlay="" data-color_overlay_2="" data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div></div> </div><div class="col span_12 dark left">
                    <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding instance-3" data-shadow="none" data-border-animation="" data-border-animation-delay="" data-border-width="none" data-border-style="" data-border-color="" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">

                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <section class=" section--body">
                                            <div class="section-content">
                                                <div class="section-inner layoutSingleColumn">
                                                    <h3 id="8f6d" class="graf--h3 graf-after--figure">Be Thankful For What You Have&#8202;—&#8202;You Will Be Happier</h3>
                                                    <p id="e546" class="graf--p graf-after--h3">Part of the reason why so many are unhappy is a lack of recognition and appreciation for what we already have. Talking about the things we don’t have instead of the things that we do is where we set ourselves up for a big fall. So, to be happy, we first need to stop talking&#8202;—&#8202;and thinking for that matter&#8202;—&#8202;about the things that we don’t have. Recognise the things that we do have and think about why we’re thankful for them. When I was going through a patch of unhappiness not so long ago, the advice I was given was similar. I was told to think about three things per day that I was thankful for and why, and then write them down in a journal.</p>
                                                    <p id="04aa" class="graf--p graf-after--p">There are more than 46 verses of the Qur’an that mention gratitude. It is a concept that is mentioned repeatedly. We know of it’s importance.</p>
                                                    <p id="4ed1" class="graf--p graf-after--p">In addition to building our own happiness, choosing gratitude can also bring out the best in those around us. Researchers at the University of Southern California showed this <a class="markup--anchor markup--p-anchor no-ajaxy" href="http://www.sciencedirect.com/science/article/pii/S0022103111003064" rel="nofollow" data-href="http://www.sciencedirect.com/science/article/pii/S0022103111003064">in a 2011 study</a> of people with high power but low emotional security. The research demonstrated that when their competence was questioned, the subjects tended to lash out with aggression and personal denigration. When shown gratitude, however, they reduced the bad behavior. That is, the best way to disarm an angry interlocutor is with a warm “thank you.”</p>
                                                    <p id="df7d" class="graf--p graf-after--p">There’s internal gratitude and external gratitude. Both of these need to be combined. The root of it all is knowledge. There are concrete strategies that each of us can adopt. Practice giving thanks privately, make public expressions. Be grateful for things that you might deem useless&#8202;—&#8202;the smell of fall in the air, the fragment of a song that reminds you of when you were a kid. Don’t express gratitude only when you feel it. Give thanks especially when you don’t feel it.</p>
                                                    <p id="024c" class="graf--p graf-after--p">Start giving <em class="markup--em markup--p-em">genuine</em> smiles to random strangers and see what happens. Tell people of your love and appreciation for them, and don’t delay it.</p>
                                                    <h3 id="6d99" class="graf--h3 graf-after--p">Keep Good Company</h3>
                                                    <p id="4677" class="graf--p graf--startsWithDoubleQuote graf-after--h3"><em class="markup--em markup--p-em">“… If you’re in the proximity of a good person, you’re going to be affected by goodness and if you’re in the proximity of a bad person, you’re going to be affected by his foulness.”</em>&#8202;—&#8202;Shaykh Hamza Yusuf</p>
                                                    <p id="f53b" class="graf--p graf-after--p">There’s a reason why so much emphasis is placed on keeping good company. It’s no secret that as well as influencing your actions, the company you keep will also mould and shape your behaviour, thoughts, attitudes and mood. So choose wisely. One of the many keys to happiness, is good company.</p>
                                                    <p id="67da" class="graf--p graf-after--p">You don’t even have to think of who gives you energy and who drains you&#8202;—&#8202;you feel it.</p>
                                                    <p id="c52f" class="graf--p graf-after--p">Hang out with people who use positive words, smile a lot, think of solutions, are driven by life, inspire you and uplift you.</p>
                                                    <h3 id="f84a" class="graf--h3 graf-after--p">Be Kind to Animals</h3>
                                                    <p id="725b" class="graf--p graf-after--h3">Feed them, pet them, stroke them, give them way instead of obstructing their path, smile at them, talk to them in a gentle voice and play with them!</p>
                                                    <p id="e42f" class="graf--p graf-after--p">Our relations and rights concerning animals and nature are, unfortunately, being overlooked by our community. What was the reason for every Prophet spending time being a shepherd? One reason was to learn gentleness towards animals because that is a transitional phase into being. If you are kind towards animals you would be kind to humans. Don’t we hear people say:</p>
                                                    <p id="e8dc" class="graf--p graf--startsWithDoubleQuote graf-after--p"><em class="markup--em markup--p-em">“You wouldn’t treat a dog like that, like why are you treating me/him/her like that?”</em></p>
                                                    <h3 id="a04c" class="graf--h3 graf-after--p">Giving Gifts</h3>
                                                    <p id="202d" class="graf--p graf-after--h3">I’ve noticed that on the whole, gift giving seems restricted to celebratory occasions. Like weddings, anniversaries and birthdays and so on&#8202;—&#8202;which are nice gestures&#8202;—&#8202;but, why wait for an occasion to give somebody a gift?</p>
                                                    <p id="66aa" class="graf--p graf-after--p">Giving somebody a gift just because you can, for no reason at all, is a great way of making both others happy and making you happy.</p>
                                                    <p id="5ad5" class="graf--p graf-after--p">When I was living in Oman, I noticed that it was a societal norm to exchange gifts between one another on a regular basis. Stranger or not&#8202;—&#8202;for no reason whatsoever, and it’s no exaggeration when I say that Omani people are the happiest bunch I’ve ever met. Perhaps the giving nature of the people plays a part in preserving their happiness?</p>
                                                    <p id="b81a" class="graf--p graf-after--p">It’s definitely plausible.</p>
                                                    <p id="f477" class="graf--p graf-after--p">Giving is a magical thing. For those of us who aren’t over&shy;powered by the perpetual need for self&shy;-indulgence, the same happiness and satisfaction one receives from receiving gifts, simply cannot be matched when it comes to giving gifts. Receiving gifts is always nice but for reasons beyond my comprehension, giving gifts will certainly make you a happier person.</p>
                                                    <h3 id="9cef" class="graf--h3 graf-after--p">Reading The Qur’an</h3>
                                                    <p id="d16c" class="graf--p graf-after--h3">Reading the Qur’an whilst growing up was regrettably, a chore for me at times. It was just one of those things that I knew I had to do because well, that’s what Muslims do right? I’d turn up to my local Mosque after school and get given four to five lines of Qur’an to recite to myself for a couple of hours. All I was doing was repeating what I’d been told to in a parrot like fashion, and so it comes as no surprise that sadly, I just didn’t feel an affinity to it despite my wanting to, and it certainly hadn’t brought me this happiness that I’d heard so many speak of.</p>
                                                    <p id="d42c" class="graf--p graf-after--p">So why is that I hear you say… well, it’s because I hadn’t actually read the Qur’an before. In actuality, all I’d been doing was vocalising symbols and letters. I hadn’t actually comprehended any meaning of what was in front of me and hence, by the actual definition of the word ‘read,’ hadn’t actually read the Qur’an at all. This is a reality that dawned on me when for the first time, I came across a snippet of an English translation of the Qur’an.</p>
                                                    <p id="b053" class="graf--p graf-after--p">Now I kid you not, once I started to actually read the meaning of the symbols and letters I’d been vocalising for years, I noticed a distinct yet subdued happiness welling inside of me for the first time. This would on many occasions give me the will-power to get out of bed in the morning, be positive and be happy. So, the moral of the story is, to be happy is read the Qur’an… and when I say read the Qur’an, I mean <strong class="markup--strong markup--p-strong"><em class="markup--em markup--p-em">read</em></strong> the Qur’an!</p>
                                                    <h3 id="02e3" class="graf--h3 graf-after--p">Seeing Beauty In Absolutely Everything</h3>
                                                    <p id="a4a0" class="graf--p graf-after--h3">This my friends, is a skill, and I’m forever re-learning how to do it.</p>
                                                    <p id="2cce" class="graf--p graf-after--p">Think of it like this, when we wake up in the morning, we’re wearing these sort of non&shy;tangible, abstract glasses, which impedes our ability to see things in a beautiful light and we’re completely unaware of it.</p>
                                                    <p id="2ac0" class="graf--p graf-after--p">So, the first step to seeing beauty in absolutely everything is to be consciously aware of the fact that our ability to see beauty in things, is at present, tainted.</p>
                                                    <p id="293b" class="graf--p graf-after--p">Step number two, is to make a conscious effort to look at your surroundings and intentionally find beauty in them.</p>
                                                    <p id="c42e" class="graf--p graf-after--p">The third and final step is to keep it up! If you manage to do this regularly enough, you’ll start to notice the difference. You will feel like a much happier person on the whole.</p>
                                                    <h3 id="1f39" class="graf--h3 graf-after--p">Remembering That He Is With Us Wherever We Are &amp; That He Sees &amp; Hears Everything</h3>
                                                    <p id="d03e" class="graf--p graf-after--h3">What was Allah’s response to Prophet Musa and his brother Haroon (may Allah be pleased with them) when they expressed their fear of being harmed by Pharoah as a result of going to him with His message?</p>
                                                    <p id="0e08" class="graf--p graf-after--p">He said, <em class="markup--em markup--p-em">“Do not be afraid, I am with you both, hearing and seeing everything”</em>&#8202;—&#8202;Surah Taha</p>
                                                    <p id="ffa4" class="graf--p graf-after--p">So what’s the point in me sharing this verse with you?</p>
                                                    <p id="1a02" class="graf--p graf-after--p">A lesson that I’ve personally taken from IT and gained much happiness from&#8202;—&#8202;is the lesson that Allah is with us wherever we are in life and He sees and hears everything. The point is, that He will never leave us like all else in this life&#8202;—&#8202;and what a relief&#8202;—&#8202;so don’t worry, be happy.</p>
                                                    <h3 id="683b" class="graf--h3 graf-after--p">Serve Others Now</h3>
                                                    <p id="503e" class="graf--p graf-after--h3">Shaykh Hamza Yusuf said it well,</p>
                                                    <p id="30bd" class="graf--p graf--startsWithDoubleQuote graf-after--p"><em class="markup--em markup--p-em">“Happiness is to be pleased with fate. Being pleased with what Allah has decreed for you. That is true happiness. The pursuit of happiness is the pursuit of a moral and virtuous life that is pleasing. [So] real pleasure is in the service of others. That’s why the happiest of all people is the Prophet ﷺ&#8202;—&#8202;no one served anyone more than him ﷺ. Even before Islam, he served. That is why when he ﷺ had told Khadijah about what had happened on the Mount of Light, said: ‘God will never forsake you’. ‘You feed the hungry, you tak care of the orphan, you’d help the widow and you take care of those in distress’. The proof that she had was his service to other people. So that is the real secret to happiness. Real pleasure is in the pleasure of others.</em></p>
                                                    <p id="22de" class="graf--p graf-after--p"><em class="markup--em markup--p-em">Everybody can serve. At the root of our religion is the concept of happiness [Sa’adah]. It is the only thing in the world that is an end and not a means. What we really want is eternal happiness. That’s what the human soul is striving for&#8202;—&#8202;to be happy eternally.”</em></p>
                                                    <p id="d1e3" class="graf--p graf-after--p">Contribution is an essential part of living a life that is happy, healthy, and meaningful. Too often we spend our lives consuming the world around us instead of creating it. We live sedentary lives and passively eat, watch, and soak up information rather than creating, contributing, and building our own things. Historically, the Muslims built and changed the world positively around them. Start contributing!</p>
                                                    <p id="22e0" class="graf--p graf-after--p">Here’s one way to get started. Give yourself 90-seconds to answer the following questions. Write down all the answers that come to mind.</p>
                                                    <h4 id="ecc5" class="graf--h4 graf-after--p">What do you want to experience?</h4>
                                                    <p id="8695" class="graf--p graf-after--h4">Thank about all the experiences you want out of life. Let’s say you had no time to think about money or time. Think about your health, fitness, love, Deen, friends, social life, family, holidays, things etc…</p>
                                                    <h4 id="f4a8" class="graf--h4 graf-after--p">How do you want grow?</h4>
                                                    <p id="518d" class="graf--p graf-after--h4">Think about personal growth, new skills, intellectual things, languages, character traits, emotional intelligence, spirituality, prayer, Deen, health and fitness etc…</p>
                                                    <h4 id="928a" class="graf--h4 graf-after--p">What do you want to contribute to the world?</h4>
                                                    <p id="97ec" class="graf--p graf-after--h4">Remember once we die, our accounts cease. What we leave should be a legacy. Thank about making the world better for family, friends, the workplace, the city, your society, the local area, Deen etc.</p>
                                                    <h3 id="84e3" class="graf--h3 graf-after--p">Create Meaningful and Deep Human Connections</h3>
                                                    <p id="4d8e" class="graf--p graf-after--h3">A fascinating research gives us some insight into this. <a class="markup--anchor markup--p-anchor no-ajaxy" href="http://www.ted.com/talks/robert_waldinger_what_makes_a_good_life_lessons_from_the_longest_study_on_happiness" rel="nofollow" data-href="http://www.ted.com/talks/robert_waldinger_what_makes_a_good_life_lessons_from_the_longest_study_on_happiness">For 75 years, the research tracked the lives of 724 men</a>, year after year, asking about their work, their home lives, their health, and of course asking all along the way without knowing how their life storieswere going to turn out.</p>
                                                    <p id="ee7b" class="graf--p graf-after--p">It teaches that good relationships keep us happier. Social connections are good for us, isolation causes the opposite. The quality of close relationships matter, whilst conflict is bad for health.</p>
                                                    <p id="4a6e" class="graf--p graf-after--p">Those who reached the age of 50 and were most satisfied were those most healthy and in good relations. Good relationships don’t just protect the body but also our minds. When you can count on the other, memory lasts longer. Close relationships are good for our health and well-being, this is wisdom that’s as old as the hills. Over the 75 years, the study has shown that the people who fared the best were the people who leaned in to relationships, with family, with friends, with community.</p>
                                                    <p id="8600" class="graf--p graf-after--p">Mark Twain, more than a century ago, was looking back on his life, and he wrote this: <em class="markup--em markup--p-em">“There isn’t time, so brief is life, for bickerings, apologies, heartburnings, callings to account. There is only time for loving, and but an instant, so to speak, for that.”</em></p>
                                                    <p id="2364" class="graf--p graf-after--p">The good life is built with good relationships.</p>
                                                    <p id="b427" class="graf--p graf-after--p">People with strong social ties <a class="markup--anchor markup--p-anchor no-ajaxy" href="http://www.ncbi.nlm.nih.gov/pubmed/425958" rel="nofollow" data-href="http://www.ncbi.nlm.nih.gov/pubmed/425958">were found to be healthier and have a lower risk of death</a>. Additionally, it was found that as age increases, the <a class="markup--anchor markup--p-anchor no-ajaxy" href="http://www.ncbi.nlm.nih.gov/pubmed/15965141" rel="nofollow" data-href="http://www.ncbi.nlm.nih.gov/pubmed/15965141">people with stronger social ties tend to live longer</a>. And it seems that friendships can even <a class="markup--anchor markup--p-anchor no-ajaxy" href="http://www.ncbi.nlm.nih.gov/pubmed/2224168" rel="nofollow" data-href="http://www.ncbi.nlm.nih.gov/pubmed/2224168">help you fight cancer</a>.</p>
                                                    <p id="7be7" class="graf--p graf-after--p">Finally, multiple studies (<a class="markup--anchor markup--p-anchor no-ajaxy" href="http://www.ncbi.nlm.nih.gov/pubmed/11710357" rel="nofollow" data-href="http://www.ncbi.nlm.nih.gov/pubmed/11710357">here</a>, <a class="markup--anchor markup--p-anchor no-ajaxy" href="http://www.ncbi.nlm.nih.gov/pubmed/16611700" rel="nofollow" data-href="http://www.ncbi.nlm.nih.gov/pubmed/16611700">here</a>, and <a class="markup--anchor markup--p-anchor no-ajaxy" href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2822182/" rel="nofollow" data-href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2822182/">here</a>) show that strong family ties are one of the primary reasons the people of Okinawa, Japan have incredible longevity despite being one of the poorest prefectures in the country.</p>
                                                    <p id="429c" class="graf--p graf-after--p">What do all of these different studies tell us?</p>
                                                    <p id="0698" class="graf--p graf-after--p">Connection and belonging are essential for a healthy and happy life. Whether it’s friendship, marriage, or family&#8202;—&#8202;humans need close connections to be healthy.</p>
                                                    <p id="e371" class="graf--p graf-after--p">Who best to learn from, other than the <a class="markup--anchor markup--p-anchor no-ajaxy" href="http://www.lastprophet.info/prophet-muhammads-relationships-with-his-family-and-relatives" rel="nofollow" data-href="http://www.lastprophet.info/prophet-muhammads-relationships-with-his-family-and-relatives">Prophet himself </a>ﷺ, through whose example we learn many things concerning how our relationships should be. <em class="markup--em markup--p-em">“All created beings are the dependents of Allāh, and the most beloved of creation to Allāh is the one who is good to His dependants” </em>[Bayhaqi].</p>
                                                    <h3 id="3009" class="graf--h3 graf-after--p">People Who Spend Money On Experiences Instead Of Things Are Much Happier</h3>
                                                    <p id="8bdf" class="graf--p graf-after--h3">Dr. Thomas Gilovich is a psychology professor at <a class="markup--anchor markup--p-anchor no-ajaxy" href="http://www.fastcoexist.com/organization/cornell-university" rel="nofollow" data-href="http://www.fastcoexist.com/organization/cornell-university">Cornell University</a> who has been looking for a <a class="markup--anchor markup--p-anchor no-ajaxy" href="http://www.fastcoexist.com/3043858/world-changing-ideas/the-science-of-why-you-should-spend-your-money-on-experiences-not-thing?utm_source=facebook" rel="nofollow" data-href="http://www.fastcoexist.com/3043858/world-changing-ideas/the-science-of-why-you-should-spend-your-money-on-experiences-not-thing?utm_source=facebook">link between money and happiness</a>. He says, We buy things to make us happy, and we succeed. But only for a while. New things are exciting to us at first, but then we adapt to them. Our experiences are a bigger part of ourselves than our material goods. You can really like your material stuff. You can even think that part of your identity is connected to those things, but nonetheless they remain separate from you. In contrast, your experiences really are part of you. We are the sum total of our experiences.</p>
                                                    <p id="be44" class="graf--p graf-after--p">The advice we receive from our Prophet ﷺ mirrors this to a certain degree. The Prophet ﷺ once told a Bedioun that if he seeks to be rich, he must first be happy. Whilst on another occasion, the Prophet ﷺ adviced:</p>
                                                    <p id="91cd" class="graf--p graf--startsWithDoubleQuote graf-after--p">“On seeing the Ansar, the Messenger of Allah ﷺ smiled and said, “I think you have heard that Abu ‘Ubaida has brought something?” They replied, “Indeed, it is so, O Messenger of Allah!” He said, “Be happy, and hope for what will please you (make you glad). By Allah, I am not afraid that you will be poor, but I fear that worldly wealth will be bestowed upon you as it was bestowed upon those who lived before you. So you will compete amongst yourselves for it, as they competed for it and it will destroy you as it did them.” – Al-Bukhari, Book 59, Number 351</p>
                                                    <p id="1573" class="graf--p graf-after--p">Happiness is not in seeking wealth. <em class="markup--em markup--p-em">“Look at those below you (less fortunate than you), and don’t look at those above you, for this is better.” </em>[Muslim] It is in the pleasure of Allah which in itself is an experience. <em class="markup--em markup--p-em">“True enrichment does not come through possessing a lot of wealth, but true enrichment is the enrichment of the soul.” </em>[Bukhari].</p>
                                                    <p id="f024" class="graf--p graf-after--p graf--last">May Allah give us all true happiness here and hereafter.</p>
                                                </div>
                                            </div>
                                        </section>
                                        <section class=" section--body">
                                            <div class="section-divider layoutSingleColumn">
                                                <hr class="section-divider">
                                            </div>
                                            <div class="section-content">
                                                <div class="section-inner layoutSingleColumn">
                                                    <p id="6a0e" class="graf--p graf--leading graf--last">Written by Kaamilah Ahmad, and edited by <a class="markup--user markup--p-user no-ajaxy" href="https://medium.com/u/62769f78b5b2" data-href="https://medium.com/u/62769f78b5b2" data-anchor-type="2" data-user-id="62769f78b5b2" data-action="show-user-card" data-action-type="hover">Qāri Mubashir Anwar</a>.</p>
                                                </div>
                                            </div>
                                        </section>
                                        <section class=" section--body section--last">
                                            <div class="section-divider layoutSingleColumn">
                                                <hr class="section-divider">
                                            </div>
                                            <div class="section-content">
                                                <div class="section-inner layoutSingleColumn">
                                                    <h4 id="b41f" class="graf--h4 graf--leading">If you liked what you read, give us a ‘heart’ below and share this with all your friends.</h4>
                                                    <h4 id="78ae" class="graf--h4 graf-after--h4">You can visit us at <a class="markup--anchor markup--h4-anchor no-ajaxy" href="http://www.theblessedhub.co.uk" rel="nofollow" data-href="http://www.theblessedhub.co.uk">www.theblessedhub.co.uk</a></h4>
                                                    <h4 id="25a7" class="graf--h4 graf-after--h4">Facebook: <a class="markup--anchor markup--h4-anchor no-ajaxy" href="http://www.facebook.com/theblessedhub" rel="nofollow" data-href="http://www.facebook.com/theblessedhub">www.facebook.com/theblessedhub</a></h4>
                                                    <h4 id="01af" class="graf--h4 graf-after--h4">Twitter: <a class="markup--anchor markup--h4-anchor no-ajaxy" href="http://www.twitter.com/theblessedhub" rel="nofollow" data-href="http://www.twitter.com/theblessedhub">www.twitter.com/theblessedhub</a></h4>
                                                    <h4 id="499b" class="graf--h4 graf-after--h4">Instagram: <a class="markup--anchor markup--h4-anchor no-ajaxy" href="http://www.instagram.com/theblessedhub" rel="nofollow" data-href="http://www.instagram.com/theblessedhub">www.instagram.com/theblessedhub</a></h4>
                                                    <h4 id="f186" class="graf--h4 graf-after--h4 graf--last">YouTube: <a class="markup--anchor markup--h4-anchor no-ajaxy" href="http://www.youtube.com/theblessedhub" rel="nofollow" data-href="http://www.youtube.com/theblessedhub">www.youtube.com/theblessedhub</a></h4>
                                                </div>
                                            </div>
                                        </section>
                                        <footer class="postArticle-footer">
                                            <div class="container u-maxWidth740"></div>
                                        </footer>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
