﻿@model IEnumerable<BlessedHub.Models.ServiceTypeWorkingDay>

@foreach (var item in Model)
{
    <h3> @item.Organisation.Name</h3>
    <h4>@item.StartTime - @item.EndTime</h4>
    <div>@item.Organisation.Description</div>
    <table>
    
        <tr>
            <td style="width:50%">Service available: </td>
            <td>@item.ServicesType.ServiceType</td>
        </tr>

        <tr>
            <td style="width:50%">Address: </td>
            <td>@item.Organisation.Address1, @item.Organisation.City, @item.Organisation.PostCode</td>
        </tr>
        <tr>
            <td style="width:50%">Telephone: </td>
            <td>@item.Organisation.Telephone</td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>



}
