﻿
@model IEnumerable<BlessedHub.Models.EventsTimeTable>

<table class="table">

    @if (Model.Count() > 0)
    {
        <tr>Time table</tr>
    }
    @foreach (var item in Model)
    {
        <tr style="border-bottom-color:transparent;">

            <td>
                @Html.DisplayFor(modelItem => item.WeekDay.Days)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>


        </tr>
    }

</table>
