﻿@model IEnumerable<BlessedHub.Models.GiveHelpToOrganisaiton>

<ul class="nav navbar-nav navbar-left" style="width:100%">
    @foreach (var item in Model)
    {
        <li style="margin-left:1%; width:70%;">
            <article class="card card--brand-h card--big js-header">
                <header class="card__title">
                    @Html.ActionLink(item.GiveHelpSubType.HelpSubType, "OrganisationCharityDetails", "Home", new { id = item.Id }, null)

                </header>
                <section class="TimingBox">
                    <div>
                        <div class="TimingBox-entry js-item">
                            <div>
                                <h4>@item.Organisation.Name</h4> 
                                <h6>@item.Organisation.Address1, @item.Organisation.PostCode,
                                @item.Organisation.City1.CityName</h6>
                            </div>
                            <hr />
                            <table  style="border-width:0;">

                                <tr></tr>
                                <tr style="border-width:0;">
                                    <td style="background-color:#333; border-radius:10px;text-align:center;width:100px; height:40px;">
                                        @Html.ActionLink("I Can Help", "OrganisationCharityDetails", "Home", new { id = item.Id }, null)
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Posted at : </td>
                                    <td>@item.DateAdded.Value.ToShortDateString()</td>
                                </tr>
                            </table>
                        </div>
                    </div>


                </section>
            </article>
        </li>

    }

</ul>

