﻿@model IEnumerable<BlessedHub.Models.WeekDay>

@foreach (var item in Model)
{

    var servictypeid = item.Id.ToString();
    var servicetypeidhash = "#" + servictypeid;

    <div class="panel">
        <div class="panel-heading" style="background-color:#5a497f;">
            <h4>
                <a href=@servicetypeidhash data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                    <span class="fa fa-plus"></span>   @item.Days
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" id=@servictypeid style="height: 0px;">
            <div class="panel-body">
                <article class="card card--brand-h card--big js-header">

                    <section class="TimingBox">
                        <div>
                            <div class="TimingBox-entry js-item">
                              
                                         @{ Html.RenderAction("PartialDaysServicesDetails", "Home", new { id = item.Id }); }
                            </div>
                        </div>

                    </section>
                </article>
            </div>
        </div>
    </div>



}
