﻿
@model IEnumerable<BlessedHub.Models.City>

<ul class="dropdown-menu">

    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.CityName, "PartialCitySearch", new { id = item.CityId })
        </li>
    }
</ul>


