﻿
@model BlessedHub.Models.City



<div class="form-horizontal">
    @using (Html.BeginForm("PartialCitySearch", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <div class="col-md-7">

                    @Html.DropDownListFor(m => m.CityId, (SelectList)ViewBag.CityId, "- Select one -", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    @*<a href="@Url.Action("PartialCitySearch", "Home")" class="btn btn-primary">View Location Page <i class="fa fa-angle-right"></i></a>
                    @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })*@

                    <input type="submit" value="View Location Page" class="btn btn-primary" />
                </div>
            </div>
        </div>

    }
    </div>



