﻿

<div id="dvMap" style="height: 450px; border-width:1px; border-color:black;">

    @*@Html.Raw(ViewBag.Markers);*@

</div>




<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb79U_ymEsPdWko6rFHBki8TBzv5GSKK8"></script>
<script type="text/javascript">
        //$(document).ready(function () {
        //    initMap();
        //});

        window.onload = function () {
        var markers = @Html.Raw(ViewBag.Markers);
        //////window.onload = function () {
            var mapOptions = {
                center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
                zoom: 6,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            //alert("helloooo");

            var infoWindow = new google.maps.InfoWindow();
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            for (i = 0; i < markers.length; i++) {
                var data = markers[i]

                var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: data.titleh,
                    icon: "Images/logomap.PNG"                        
                });
                (function (marker, data) {
                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent(data.city);
                        infoWindow.open(map, marker);
                    });
                })(marker, data);


            }

    //// AIzaSyDui8aseHT9kKU5xmeheDGJZoVImb0MTXY
            //https://maps.googleapis.com/maps/api/geocode/json?address=m193bu&key=AIzaSyDui8aseHT9kKU5xmeheDGJZoVImb0MTXY

             $.getJSON('https://maps.googleapis.com/maps/api/geocode/json?address=' + 'm193bu' + '&key=AIzaSyDui8aseHT9kKU5xmeheDGJZoVImb0MTXY', function(data) {

    var lat = data.results[0].geometry.location.lat;
                 var lng = data.results[0].geometry.location.lng;
                 var add = data.results[0].formatted_address;

    //Get address    
    $.getJSON('https://maps.googleapis.com/maps/api/geocode/json?latlng=' + lat + ',' + lng + '&key=AIzaSyDui8aseHT9kKU5xmeheDGJZoVImb0MTXY', function(data) {              
      var address = data.results[0].address_components;              
      var street = address[1].long_name;
      var town = address[2].long_name;
      var county = address[3].long_name;                        

      //Insert
     // $('#text').text(number + ', ' + street + ', ' + town + ', ' + county + ', ' + postcode);
        ////https://stackoverflow.com/questions/4390872/implementing-an-address-lookup-with-google-geocoding-api-or-similar

    });
  });

        }

</script>



