﻿
@model IEnumerable<BlessedHub.Models.GiveHelpToOrganisaiton>

<ul class="nav navbar-nav navbar-left">
    @foreach (var item in Model)
    {
        <li style="margin-left:1%; width:100%;">
            <article class="card card--brand-h card--big js-header">
                <header class="card__title">
                    @Html.ActionLink(item.GiveHelpSubType.HelpSubType, "OrganisationCharityDetails", "Home", new { id = item.Id }, null)

                </header>
                <section class="TimingBox">
                    <div>
                        <div class="TimingBox-entry js-item">
                            <div>
                                <h4>@item.Organisation.Name</h4>
                                <h6>
                                    @item.Organisation.Address1, @item.Organisation.PostCode,
                                    @item.Organisation.City1.CityName
                                </h6>
                            </div>
                            <hr />
                            <table class="table">

                                <tr>
                                    <td style="background-color:#333; border-radius:10px;text-align:center;">
                                        @Html.ActionLink("I Can Help", "OrganisationCharityDetails", "Home", new { id = item.Id }, null)
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Posted at : </td>
                                    <td>@item.DateAdded.Value.ToShortDateString()</td>
                                </tr>
                            </table>
                        </div>
                    </div>


                </section>
            </article>
        </li>

    }

</ul>

