﻿@model IEnumerable<BlessedHub.Models.EventType>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{ 
    string tlink= "http://www.google.com";
}

    <div class="container">
        <div>

            <h6 class="page-header" style="border-bottom-width:0px;">
                <ol class="breadcrumb">
                    <li style="color:black;">
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li class="active">Events</li>
                </ol>
            </h6>
        </div>

        @foreach (var item in Model)
        {
            tlink = item.TickeetsLink;
            <div class="row" style="width:90%; margin-left:1%;">
                <h3 style="background-color:greenyellow;">@item.EventTitle</h3>
         
                <table class="table">
                    <tr>
                        <td>Venue</td>
                        <td>@item.Venue</td>
                    </tr>
                    <tr>
                        <td>Entrance</td>
                        <td>@item.Entrance</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>@item.Price</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><a href=@item.TickeetsLink target="_blank" style="background-color:darkgreen">clicke here to Buy Tickets </a></td>
                    </tr>
                    <tr>
                        <td>Facilities Availabe</td>
                        <td>@item.FacilitiesAvailable</td>
                    </tr>

                    <tr>
                        <td>Opening Times:</td>
                        <td> @{ Html.RenderAction("EventTimeTable", "EventTypes", new { id = item.Id }); }</td>

                    </tr>
                </table>

            </div>
        }

    </div>
