﻿@model BlessedHub.ViewModels.CountAllVM

<div class="container" >

    <div class="row">
        <div class="container" style="width:50%">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="/Home/OrganisationAll">
                    <span class="ServicesCount__title">@Model.CountOrganisations</span>
                    <span class="h3 ServicesCount__description">Organisations</span>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="/Home/ServicesAll">
                    <span class="ServicesCount__title">@Model.CountServices</span>
                    <span class="h3 ServicesCount__description">Services</span>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="/Home/Help">
                    <span class="ServicesCount__title">@Model.CountNeeds</span>
                    <span class="h3 ServicesCount__description">Needs</span>
                </a>
            </div>

        </div>
    </div>
        <!-- /.row -->+

    </div>