﻿@model IEnumerable<BlessedHub.Models.ServicesType>

@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div>

        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
              
            </ol>
        </h6>
    </div>


</div>

<div class="container" style="margin-top:50px;">

    @if (Model.Count() > 0)
    {

            foreach (var item in Model)
            {


                <p style="background-color:#f24400;font-size:large;padding-left:15px;">
                    @Html.ActionLink(item.ServiceType, "Details", new { id = item.ServiceId })

                </p>
                <hr />
            }
    }

    else
            {
            <h2>No Item Found!</h2>
            }



</div>
