﻿
@model BlessedHub.Models.City

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #mainpic {
        background-image: url('/ImagesPNG/Ajazbahi1900.png');
    }

    #HomeImage {
        /*background-image: url('/Images/HomePageBacground.PNG');*/
        background-image: url('/Images/Streetsport.PNG');
        /*background-repeat: repeat-x;*/
        background-position: bottom;
        width: 100%;
        height: auto;
    }

    #fillBackCity {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-image: url('/Images/ManchesterCityCouncil.png');
    }
</style>

<div class="container">
    <div>

        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">@Html.DisplayFor(model => model.CityName)</li>
            </ol>
        </h6>
    </div>

    <img src="~/Images/ManchesterCityCouncil.png" style="width:100%; height:60%;" />

</div>

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"></h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="home__copy">
                <h2 class="h2">You're in Manchester</h2>
                <p>The Blessed Hub is currently active in several locations across the UK.</p>
                <p class="h3">Looking for advice?</p>
                <div class="img-responsive">
                    @{ Html.RenderAction("PartialServicesListSearch", "Home"); }
                </div>
                <p>The Blessed Hub is currently active in several locations across the UK.</p>
                <p class="h3">Want to see what is happening near you? Select one…</p>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="img-responsive">
                @{ Html.RenderAction("PartialMapOrganisationCity", "Home", new { id = Model.CityId }); }
            </div>

        </div>

    </div>
    <hr />
</div>

<div class="section-colored text-center" >

    @{ Html.RenderAction("CountAll", "Home"); }

</div>

<hr />

<div class="section-colored">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Journey</h2>
                <p>
                    The Blessed Hub journey began in 2012.
                    The Blessed Hub journey began on 16th June 2012, after a need for a platform catering primarily towards the needs of the Muslim community was identified. Imagine Bob enters UKs best city, Manchester, and he comes up against 200 different languages spoken across the city. Being the most linguistically diverse city in western Europe, Manchester is no stranger to diversity. Bob now wonders where is what in the city, what is happening, and what can he engage within the community. This is how The Blessed Hub was born. The Blessed Hub then grew over the past few years into much more than a central hub of information, activities, access, promote engagement with society, and efforts to unite the community. We created projects under a football academy, litter picking, unity, homeless feeds, a food bank and a weekly social meet. The Blessed Hub remains a small charity today.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img src="~/Images/growth.PNG" style="width:100%; height:100%;" />
            </div>
        </div>
    </div>
</div>