﻿@model BlessedHub.Models.Service


@*<link href="~/css/site.css" rel="stylesheet" />*@


<div class="container">
    <div >

        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">@Html.DisplayFor(model => model.ServiceName)</li>
            </ol>
        </h6>
        </div>


    </div>

    <div class="container">
        @*<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"></h1>
                    <ol class="breadcrumb">
                        <li style="color:black;">
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li class="active">@Html.DisplayFor(model => model.ServiceName)</li>
                    </ol>
                </div>
            </div>*@
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                @*<img src="http://placehold.it/1200x300" class="img-responsive">*@
                <div style="    padding-top: 0;    width: 66.33663%;    float: left;    margin-right: .9901%;">
                    <h1> @Html.DisplayFor(model => model.ServiceName)</h1>
                    <p style="margin-top:0px;">@Html.DisplayFor(model => model.Description)</p>
                 
                </div>
            </div>
      
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Organisaiton</h2>
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active" style=" width:15%">
                            <a data-toggle="tab" href="#service-one" style="color:darkblue;">Listing</a>
                        </li>
                        <li style=" width:15%; border:thin">
                            <a data-toggle="tab" href="#service-two" style="color:darkblue;">Time Table</a>
                        </li>
                        <li style=" width:15%">
                            <a data-toggle="tab" href="#service-three" style="color:darkblue;">Map</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div id="service-one" class="tab-pane fade in active" style="width:80%;">
                           
                            @{ Html.RenderAction("OrganisationServicesAll", "Home", new { id = Model.ServiceId }); }
                        </div>
                        <div id="service-two" class="tab-pane fade"style="width:70%;">
                       

                            @{ Html.RenderAction("PartialDaysServices", "Home", new { id = Model.ServiceId }); }

                            @*@{ Html.RenderAction("PartialAllServicesTypesDetails", "Home", new { id = Model.ServiceId }); }*@
                        </div>

                        <div id="service-three" class="tab-pane fade">
                        

                            <div class="img-responsive">
                                @{ Html.RenderAction("PartialMapOrganisationServices", "Home", new { id = Model.ServiceId }); }
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!-- /.row -->
            <!-- Service Images -->
            
            <!-- /.row -->
        </div>
    </div>

