﻿
@model BlessedHub.ViewModels.PostCodeServiceSearch


@*<link href="~/css/site.css" rel="stylesheet" />*@

<div class="row">
    <div class="container">


        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">@Html.DisplayFor(model => model.ServiceName)</li>
            </ol>
        </h6>



    </div>
</div>
<div class="container">
    @*<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"></h1>
                <ol class="breadcrumb">
                    <li style="color:black;">
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li class="active">@Html.DisplayFor(model => model.ServiceName)</li>
                </ol>
            </div>
        </div>*@
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            @*<img src="http://placehold.it/1200x300" class="img-responsive">*@
            <div style="    padding-top: 0;    width: 66.33663%;    float: left;    margin-right: .9901%;">
                <h1> @Html.DisplayFor(model => model.ServiceName)</h1>
                <p style="margin-top:0px;">@Html.DisplayFor(model => model.Description)</p>
                <a href="#" class="btn btn-primary">More Details!</a>
            </div>
        </div>
        <!-- /.row -->
        <!-- Service Paragraphs -->
        @*<div class="row">
                <div class="col-md-8">
                    <h2 class="page-header">Our Premium Services</h2>
                    <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
                <div class="col-md-4">
                    <h2 class="page-header">Something More</h2>
                    <p>Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
                    <a href="#" class="btn btn-primary">Click Me!</a>
                </div>
            </div>*@
        <!-- /.row -->
        <!-- Service Tabs -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Organisaiton</h2>
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active">
                        <a data-toggle="tab" href="#service-one" style="color:darkblue;">Listing</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#service-two" style="color:darkblue;">Time Table</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#service-three" style="color:darkblue;">Map</a>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div id="service-one" class="tab-pane fade in active" style="width:60%;">
                        <i class="fa fa-gear pull-left fa-4x"></i>
                        @{ Html.RenderAction("OrganisationServicesAll", "Home", new { id = Model.ServiceId }); }
                    </div>
                    <div id="service-two" class="tab-pane fade">
                        <i class="fa fa-gears pull-left fa-4x"></i>



                        @{ Html.RenderAction("PartialAllServicesTypesDetails", "Home", new { id = Model.ServiceId }); }
                    </div>

                    <div id="service-three" class="tab-pane fade">
                        <i class="fa fa-gears pull-left fa-4x"></i>

                        <div class="img-responsive">
                            @{ Html.RenderAction("PartialMapOrganisationPostCode", "Home", new { id = Model.ServiceId, postcode=Model.PostCode }); }
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Service Images -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Service Images</h2>
            </div>
            <div class="col-sm-6">
                <img src="http://placehold.it/750x450" class="img-responsive">
                <h3>Service One</h3>
                <p>Service one description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
                <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="col-sm-6">
                <img src="http://placehold.it/750x450" class="img-responsive">
                <h3>Service Two</h3>
                <p>Service two description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
                <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
            </div>
            @*<div class="col-sm-4">
                    <img src="http://placehold.it/750x450" class="img-responsive">
                    <h3>Service Three</h3>
                    <p>Service three description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
                    <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
                </div>*@
        </div>
        <!-- /.row -->
    </div>
</div>

