﻿
@model IEnumerable<BlessedHub.Models.GiveHelpToOrganisaiton>

<div class="row">
    <div class="container">

        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Help</li>
            </ol>
        </h6>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            @*<img src="http://placehold.it/1200x300" class="img-responsive">*@
            <div style="    padding-top: 0;    width: 100%;    float: left;    margin-right: .9901%;">
                <h1>Give Help</h1>
                <p style="margin-top:0px;">You can help make big changes to homelessness by giving items, your time or money to local organisations so they can continue their good work. If you can't spot anything suitable at the moment, use our volunteer form, or offer items that you are willing to donate. Interested organisations will then get in touch with you directly.</p>

            </div>
        </div>

        <div class="row" style="margin-left:5%">
            <div class="col-lg-12">
                @*<h2 class="page-header">Organisaiton</h2>*@
                <ul class="nav nav-tabs" id="myTab" style="width:100%">
                    <li class="active" style="width: 20%;">
                        <a data-toggle="tab" href="#service-one" style="color:darkblue;">Items</a>
                    </li>
                    <li style="width: 20%;">
                        <a data-toggle="tab" href="#service-two" style="color:darkblue;">Time</a>
                    </li>
                    <li style="width: 20%;">
                        <a data-toggle="tab" href="#service-three" style="color:darkblue;">Money</a>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div id="service-one" class="tab-pane fade in active">

                        @{ Html.RenderAction("PartialHelpItems", "Home"); }
                    </div>
                    <div id="service-two" class="tab-pane fade">


                        @{ Html.RenderAction("PartialHelpTime", "Home"); }
                    </div>

                    <div id="service-three" class="tab-pane fade">
                        
                            @{ Html.RenderAction("PartialHelpMoney", "Home"); }
                       

                    </div>

                </div>
            </div>
        </div>
   
    </div>
</div>


