﻿@{
    ViewBag.Title = "Home";
}
<style>
    #mainpic {
        background-image: url('/ImagesPNG/Ajazbahi1900.png');
    }

    #HomeImage {
        /*background-image: url('/Images/HomePageBacground.PNG');*/
        background-image: url('/Images/Streetsport.PNG');
        /*background-repeat: repeat-x;*/
        background-position: bottom;
        width: 100%;
        height: auto;
    }
</style>


<div id="myCarousel" class="carousel">
    <!-- Indicators -->
    @*<ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>*@

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div id="fillBack">
                <div class="container">
                 
            </div>
         
        </div>
        

    </div>

</div>

    <div class="container">

        <div class="row" style="margin-top:15px;">

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="home__copy">
                    <h2 class="h2">Where we are</h2>
                    <p>The Blessed Hub is currently active in several locations across the UK.</p>
                    <p class="h3">Want to see what is happening near you? Select one…</p>
                    <div class="img-responsive">
                        @{ Html.RenderAction("PartialCityListSearch", "Home"); }
                    </div>
                    <p>The Blessed Hub is currently active in several locations across the UK.</p>
                    <p class="h3">Want to see what is happening near you? Select one…</p>
                    <p>
                        The Blessed Hub inspires positive Muslim living
                        by helping people grow in their faith, impact
                        their community, and discover meaningful
                        events, content, and products.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="img-responsive">
                    @{ Html.RenderAction("PartialMapOrganisation", "Home", new { id = 1 }); }
                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
        <hr />
    </div>
<!-- /.section -->

<div class="section-colored text-center" >
        
                          @{ Html.RenderAction("CountAll", "Home"); }           

   

</div>
<!-- /.section-colored -->

<div class="section text-center">

    <div class="container">

        <div class="row">
         
             
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="inner"><img data-shadow="none" data-shadow-direction="middle" class="img-with-animation  animated-in" data-delay="0" height="62" width="62" data-animation="fade-in" src="http://theblessedhub.co.uk/wp-content/uploads/2015/03/icon-events.png" srcset="http://theblessedhub.co.uk/wp-content/uploads/2015/03/icon-events.png 62w, http://theblessedhub.co.uk/wp-content/uploads/2015/03/icon-events-50x50.png 50w" alt="" style="opacity: 1;"></div>
                <div class="wpb_wrapper">
                    <h5 style="text-align: center;"><span style="color: #f26b21;">GROWTH</span></h5>
                    <p style="text-align: center;"><span style="color: #a3a3a3;">Sharing inspirational reflections, interviews, lectures, documentaries, podcasts, blogs, guides and more.</span></p>

                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="inner"><img data-shadow="none" data-shadow-direction="middle" class="img-with-animation  animated-in" data-delay="0" height="62" width="62" data-animation="fade-in" src="http://theblessedhub.co.uk/wp-content/uploads/2015/03/icon-blessed-circles.png" srcset="http://theblessedhub.co.uk/wp-content/uploads/2015/03/icon-blessed-circles.png 62w, http://theblessedhub.co.uk/wp-content/uploads/2015/03/icon-blessed-circles-50x50.png 50w" alt="" style="opacity: 1;"></div>
                <div class="wpb_wrapper">
                    <h5 style="text-align: center;"><span style="color: #f26b21;">DISCOVERY</span></h5>
                    <p style="text-align: center;"><span style="color: #a3a3a3;">Sharing local events, courses, workshops, services, products, news and more.</span></p>

                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="inner"><img data-shadow="none" data-shadow-direction="middle" class="img-with-animation  animated-in" data-delay="0" height="62" width="62" data-animation="fade-in" src="http://theblessedhub.co.uk/wp-content/uploads/2015/03/icon-community.png" srcset="http://theblessedhub.co.uk/wp-content/uploads/2015/03/icon-community.png 62w, http://theblessedhub.co.uk/wp-content/uploads/2015/03/icon-community-50x50.png 50w" alt="" style="opacity: 1;"></div>
                <div class="wpb_wrapper">
                    <h5 style="text-align: center;"><span style="color: #f26b21;">GIVING</span></h5>
                    <p style="text-align: center;"><span style="color: #a3a3a3;">Access to our legacy fund, sharing the works of local charities, fundraisers, campaigns, random acts of kindness and more.</span></p>

                </div>
            </div>
          
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Journey</h2>
                <p>
                    The Blessed Hub journey began in 2012.
                    The Blessed Hub journey began on 16th June 2012, after a need for a platform catering primarily towards the needs of the Muslim community was identified. Imagine Bob enters UKs best city, Manchester, and he comes up against 200 different languages spoken across the city. Being the most linguistically diverse city in western Europe, Manchester is no stranger to diversity. Bob now wonders where is what in the city, what is happening, and what can he engage within the community. This is how The Blessed Hub was born. The Blessed Hub then grew over the past few years into much more than a central hub of information, activities, access, promote engagement with society, and efforts to unite the community. We created projects under a football academy, litter picking, unity, homeless feeds, a food bank and a weekly social meet. The Blessed Hub remains a small charity today.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">           
                <img src="~/Images/growth.PNG" style="width:100%; height:100%;"/>
            </div>
        </div>
    </div>
</div>
<!-- /.section-colored -->


<!-- /.section -->


<!-- /.container -->