﻿@model BlessedHub.Models.PrayerTiming
@{
    ViewBag.Title = "MasjidsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div>

        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">@Model.MasjidDetail.MasjidName</li>
            </ol>
        </h6>
    </div>


    <div class="container">

        <img src='@Model.CalendarPicURL' height="100%" width="100%" />
    </div>


</div>