﻿@model IEnumerable<BlessedHub.Models.PrayerTiming>

@{
    ViewBag.Title = "MasjidsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div>

        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Masjids list</li>
            </ol>
        </h6>
    </div>


</div>

<div class="container">
    <table class="table">
    
            @foreach (var item in Model)
            {
        <tr>
            <td style="width:50%;" class="btn btn-primary">
                    @Html.ActionLink(item.MasjidDetail.MasjidName, "MasjidTimeTable", "Home", new { masjidid = item.Id }, null)
              
            </td>
        </tr>
                }

          
        </table>
    </div>