﻿@model IEnumerable<BlessedHub.Models.GiveHelpToOrganisaiton>
@{
    ViewBag.Title = "OrganisationAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h6 class="page-header" style="border-bottom-width:0px;">
        <ol class="breadcrumb">
            <li style="color:black;">
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li class="active">Needs</li>
        </ol>
    </h6>
</div>

<ul class="nav navbar-nav navbar-left" style="width:100%">
    @foreach (var item in Model)
    {
        <li style="margin-left:1%; width:100%;">
            <article class="card card--brand-h card--big js-header">
                <header class="card__title">
                    @Html.ActionLink(item.GiveHelpSubType.HelpSubType, "OrganisationCharityDetails", "Home", new { id = item.Id }, null)

                </header>
                <section class="TimingBox">
                    <div>
                        <div class="TimingBox-entry js-item">
                            <div>
                                @item.Organisation.Name
                            </div>
                            <table style="border-width:0;">

                                <tr></tr>
                                <tr style="border-width:0;">
                                    <td style="background-color:#333; border-radius:10px;text-align:center;width:100px; height:50px;">
                                        @Html.ActionLink("I Can Help", "OrganisationCharityDetails", "Home", new { id = item.Id }, null)
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Posted at : </td>
                                    <td>@item.DateAdded</td>
                                </tr>
                            </table>
                        </div>
                    </div>


                </section>
            </article>
        </li>

    }

</ul>

