﻿@model BlessedHub.Models.GiveHelpToOrganisaiton
@{
    ViewBag.Title = "OrganisationCharityDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="container">

        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Give help</li>
            </ol>
        </h6>
    </div>
</div>
<div class="container">
    <div class="row" style="width:70%; margin-left:1%;">

        <h2>@Model.GiveHelpSubType.HelpSubType</h2>

        <h3>@Model.Organisation.Name</h3>
        <h6>
            @Model.Organisation.Address1, @Model.Organisation.PostCode,
            @Model.Organisation.City1.CityName
        </h6>

        @*@Html.Partial("_PartialiCanHelp")*@

        @{ Html.RenderAction("PartialiCanHelp", "Home", new { OrganisationId = Model.OrganisationId }); }

    </div>
</div>