﻿@model IEnumerable<BlessedHub.Models.OrganisationService>
@{
    ViewBag.Title = "OrganisationAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h6 class="page-header" style="border-bottom-width:0px;">
        <ol class="breadcrumb">
            <li style="color:black;">
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li class="active">Organisations</li>
        </ol>
    </h6>
</div>

<div class="container">
    <ul class="nav navbar-nav navbar-left" style="width:100%">
        @foreach (var item in Model)
        {
            <li style="margin-left:1%; width:60%;">
                <article class="card card--brand-h card--big js-header">
                    <header class="card__title">
                        @Html.ActionLink(item.Service.ServiceName, "OrganisationDetails", "Home", new { organisationId = item.Organisation.OrganisationId, serviceid = item.ServiceId }, null)

                    </header>
                    <section class="TimingBox">
                        <div>
                            <div class="TimingBox-entry js-item">
                                <div>
                                    @item.Service.Description
                                </div>
                                <hr />
                                <table style="border-width:0;">

                                    <tr></tr>
                                    <tr style="border-width:0;">
                                        <td style="background-color:#333; border-radius:10px;text-align:center;width:150px; height:50px;">
                                            @Html.ActionLink("More Information", "OrganisationDetails", "Home", new { organisationId = item.Organisation.OrganisationId, serviceid = item.ServiceId }, null)
                                        </td>
                                        <td></td>
                                    </tr>
                                    
                                </table>
                            </div>
                        </div>


                    </section>
                </article>
            </li>

        }

    </ul>

</div>

