﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="row">
    <div class="container">

        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Admin")
                </li>
                <li class="active">@ViewBag.Title</li>
            </ol>
        </h6>
    </div>
</div>

<div class="container">
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
