﻿@{
    ViewBag.Title = "Reset password confirmation";
}


<div class="row">
    <div class="container">


        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">@ViewBag.Title</li>
            </ol>
        </h6>
    </div>
</div>

<div class="container" >
    <p class="EditLink">
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
