﻿@model BlessedHub.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<style>
    .a{
        color:green;
    }
</style>

<div class="row">
    <div class="container">

        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Admin")
                </li>
                <li class="active">@ViewBag.Title</li>
            </ol>
        </h6>
    </div>
</div>

<div class="container">
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd class="EditLink">
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>

            <dt></dt>
            <dd class="EditLink">
                @Html.ActionLink("Forgot your password?", "ForgotPassword", "Account")
            </dd>
        </dl>
    </div>
</div>