﻿@model BlessedHub.ViewModels.GiveHelpToOrganisaitonVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div>
    <h4>GiveHelpToOrganisaiton</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiveHelpSubType.HelpSubType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiveHelpSubType.HelpSubType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiveHelpType.HelpType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiveHelpType.HelpType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organisation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organisation.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
