﻿@model IEnumerable<BlessedHub.ViewModels.NewsVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.NewsTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsTitle)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.NewsDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsDetail)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.MoreDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoreDetails)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.PostedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostedDate)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.PostedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostedBy)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.FacebookLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacebookLink)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.TwitterLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TwitterLink)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Tagged)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tagged)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.PictureURL)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.PictureURL)*@
            <img src=@item.PictureURL widtd="100" height="100" />
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.DateAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateUpdated)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.NewsSubType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsSubType.NewsSubType1)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.NewsType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsType.NewsType1)
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) 
        </td>
    </tr>
</table>
        }

   
