﻿@model IEnumerable<BlessedHub.Models.News>

@{
    ViewBag.Title = "NewsStories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="container">


        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Stories</li>
            </ol>
        </h6>



    </div>
</div>
<div class="container">



    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-lg-8">
                <!-- the actual blog post: title/author/date/content -->
                <hr>
                <h2>@item.NewsTitle</h2>
               
                <hr>
                @*<img class="img-responsive" src="http://placehold.it/900x300">*@
                <img src=@item.PictureURL style="width:50%;height:30%" />
                <hr>
                <p class="lead">@item.NewsTitle</p>
                <p>@item.NewsDetail</p>
                <p class="fa fa-clock-o">

                    <strong >Posted on : @item.DateAdded.Value.ToShortDateString() by @item.PostedBy</strong>
                </p>
            
            </div>
           
        </div>
     
    }


</div>
