﻿
@model IEnumerable<BlessedHub.Models.News>

@{
    ViewBag.Title = "NewsStories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="container">


        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Articles</li>
            </ol>
        </h6>



    </div>
</div>
<div class="container">


    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-lg-8">
                <!-- the actual blog post: title/author/date/content -->
                <hr>
                <h2>@item.NewsTitle</h2>
                <p>
                    <i class="fa fa-clock-o"></i> Posted on @item.PostedDate   by @item.PostedBy <a href="#">Start Boostrap</a>
                </p>
                <hr>
                @*<img class="img-responsive" src="http://placehold.it/900x300">*@
                <img src=@item.PictureURL width="700" height="300" />
                <hr>
                <p class="lead">@item.NewsTitle</p>
                <p>@item.NewsDetail</p>
            
            </div>

        </div>

    }


</div>
