﻿@*@model IEnumerable<BlessedHub.ViewModels.OrganisationVM>*@

@model PagedList.IPagedList<BlessedHub.ViewModels.OrganisationVM>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <table class="table">
        <tr>
            <td>Name</td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
        <tr>
            <td>   Type</td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
        </tr>
        <tr>
            <td>     Title</td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
        </tr>
        <tr>
            <td>   SubTitle</td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTitle)
            </td>
        </tr>
        <tr>
            <td>  Description</td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
        <tr>
            <td>  Address1</td>
            <td>
                @Html.DisplayFor(modelItem => item.Address1)
            </td>
        </tr>
        <tr>
            <td>  Address2</td>
            <td>
                @Html.DisplayFor(modelItem => item.Address2)
            </td>
        </tr>
        <tr>
            <td>  Address3</td>
            <td>
                @Html.DisplayFor(modelItem => item.Address3)
            </td>
        </tr>
        <tr>
            <td>  PostCode</td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCode)
            </td>
        </tr>
        <tr>
                <td>   City</td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
            </tr>
        <tr>
            <td>  Telephone</td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
        </tr>
        <tr>
            <td>  Email</td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
        <tr>
            <td>  Website</td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
        </tr>
        <tr>
            <td>   Twitter</td>
            <td>
                @Html.DisplayFor(modelItem => item.Twitter)
            </td>
        </tr>
        <tr>
            <td>    Facebook</td>
            <td>
                @Html.DisplayFor(modelItem => item.Facebook)
            </td>
        </tr>
        <tr>
            <td>   Latitude</td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
        </tr>
        <tr>
            <td>  Longitude</td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
        </tr>
        <tr>
            <td>  Active</td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
        </tr>
        <tr>
            <td>   City1.CityName</td>
            <td>
                @Html.DisplayFor(modelItem => item.City1.CityName)
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="EditLink">
                @Html.ActionLink("Edit", "Edit", new { id = item.OrganisationId }) |
                @Html.ActionLink("Details", "Details", new { id = item.OrganisationId })
            </td>
        </tr>
    </table>

}

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))