﻿@model IEnumerable<BlessedHub.Models.EventType>

@{
    ViewBag.Title = "OurTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="container">


        <h6 class="page-header" style="border-bottom-width:0px;">
            <ol class="breadcrumb">
                <li style="color:black;">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Team</li>
            </ol>
        </h6>



    </div>
</div>
<div class="container">
    <h2 class="h1 block__header">Our Team</h2>
    <hr />
    @foreach (var item in Model)
    {
        <div class="row">

            <div class="col-md-2">
                <a href="@Url.Action("Post")">
                    @*<img  src="http://placehold.it/600x300">*@
                    <img class="img-responsive" src=@item.PictureUrl />
                </a>
            </div>
            <div class="col-md-10">
                <h3>
                    @item.EventTitle
                </h3>
                <h4>@item.Date , @item.StartTime , @item.EndTime</h4>
                <h4>@item.Venue/h4>

                <p>This is a very basic starter template for a blog homepage. It makes use of Font Awesome icons that are built into the 'Modern Business' template, and it makes use of the Bootstrap 3 pager at the bottom of the page.</p>

            </div>
        </div>
    }
</div>
