﻿@using BlessedHub.Models
@using Microsoft.AspNet.Identity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - The Blessed Hub</title>
    <link href="@Url.Content("/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("/css/modern-business.css")" rel="stylesheet">
    <link href="@Url.Content("/css/site.css")" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@Url.Content("/js/bootstrap.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

</head>
<body>
    <nav class="navbar navbar-fixed-top" role="navigation" id="adminNav" style="background-color:#662d91;">
        <div class="container" style="height:100%; margin-top:10px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                @Html.ActionLink("Admin ", "Index", new { controller = "Services" }, new { @class = "navbar-brand" })
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">

                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Set up <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Service", "Index", "Services")
                            </li>
                            <li id="405">
                                @Html.ActionLink(" Service sub type", "Index", "ServicesTypes")
                            </li>
                            <li>
                                @Html.ActionLink("Location", "Index", "Cities")
                            </li>
                            <li>
                                @Html.ActionLink("Give help types", "Index", "GiveHelpTypes")
                            </li>
                            <li>
                                @Html.ActionLink("Give help sub types", "Index", "GiveHelpSubTypes")
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Organisations <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink(" Organisation", "Index", "Organisations")
                            </li>
                            <li>
                                @Html.ActionLink(" Organisation services", "Index", "OrganisationServices")
                            </li>
                            <li>
                                @Html.ActionLink(" Organisaiton services sub types", "Index", "OrganisaitonServicesTypes")
                            </li>
                            <li>
                                @Html.ActionLink(" Organisation timings", "Index", "OrganisationWorkingDays")
                            </li>
                            <li id="405">
                                @Html.ActionLink(" Organisation service type timings", "Index", "ServiceTypeWorkingDays")
                            </li>
                            <li>
                                @Html.ActionLink(" Organisation needs help", "Index", "GiveHelpToOrganisaitons")
                            </li>
                        </ul>
                    </li>

                    <li id="other" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">News <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="fullwidthpage">
                                @Html.ActionLink(" News", "Index", "News")
                            </li>
                            <li id="sidebarpage">
                                @Html.ActionLink(" News Types", "Index", "NewsTypes")
                            </li>

                            <li id="404">
                                @Html.ActionLink(" News Sub Types", "Index", "NewsSubTypes")
                            </li>

                        </ul>
                    </li>

                    <li id="other" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Members <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="fullwidthpage">
                                @Html.ActionLink(" Team", "Index", "BleassedHubTeams")
                            </li>
                            <li id="sidebarpage">
                                @Html.ActionLink(" Members", "Index", "BlessedHubMembers")
                            </li>

                        </ul>
                    </li>
                    <li> @Html.ActionLink("I can help", "Index", "ICanHelps")</li>
                    <li> @Html.ActionLink("Contactus", "Index", "ContactUs")</li>

                    <li id="other" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Prayer Timings <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="masjiddetail">
                                @Html.ActionLink("Masjid Details", "Index", "MasjidDetails")
                            <li>
                                @Html.ActionLink("Prayer Timings", "Index", "PrayerTimings1")
                            </li>
                        </ul>

                    </li>
                    <li id="other" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Add Events", "Index", "EventTypes")
                            </li>
                            <li>
                                @Html.ActionLink("Add Events Timing", "Index", "EventsTimeTables")
                            </li>
                        </ul>
                            </li>
                            <li>
                                @Html.ActionLink("Register new user", "Register", "Account")
                            </li>

                        </ul>
                        @Html.Partial("_LoginPartial")
</div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container" id="AdminContainer" style="margin-top:100px;">
        @RenderBody()
    </div>
    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; The Blessed Hub</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

 
    @RenderSection("scripts", required: false)
</body>
</html>
