﻿
@{
    ViewBag.Title = "_LayoutAdminForms";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col-lg-12">

            @RenderBody()


        </div>
    </div>
</div>

