﻿@using BlessedHub.Models
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Blessed Hub - @ViewBag.Title</title>

    <!-- Bootstrap -->
    <link href="@Url.Content("/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("/css/modern-business.css")" rel="stylesheet">
    <link href="@Url.Content("/css/site.css")" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
       
        <div class="container">
          
            @Html.Partial("_PartialSearchService")
        </div>
        <div class="container" style="height:90%; margin-top:0px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <a href="@Url.Action("Index", "Home")" class="navbar-brand" style="margin-top:-20px;">
                        <img src="~/Images/LogoFinal.png" />
                        <span>
                            <strong>The Blessed Hub</strong>
                        </span>
                    </a>
                </div>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">

                <ul class="nav navbar-nav navbar-right" style="font-size:large;">


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Find Help <b class="caret"></b></a>
                        @{ Html.RenderAction("FindHelpMenue", "Home"); }

                    </li>
                    <li id="GiveHelp" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Give Help <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="1columnportfolio">
                                @Html.ActionLink("Help", "Help", "Home")
                            </li>

                        </ul>
                    </li>
                    <li id="Locations" class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Locations <b class="caret"></b></a>
                        @{ Html.RenderAction("FindLocationsMenu", "Home"); }



                    </li>
                    <li id="News" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">News <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="1columnportfolio">
                                @Html.ActionLink("Stories", "NewsStories", "News")
                            </li>
                            <li id="2columnportfolio">
                                @Html.ActionLink("Articles", "NewsArticles", "News")
                            </li>
                            <li id="3columnportfolio">
                                @Html.ActionLink("Latest News", "NewsLatest", "News")
                            </li>

                        </ul>
                    </li>
                    <li class="nav__item nav__item--login">
    
                        @Html.ActionLink("Events", "EventsLive", "Home")
                      
                    </li>
                    <li id="About" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>

                        <ul class="dropdown-menu">

                            <li id="bloghome1">
                                @Html.ActionLink("Organisations", "Organisation", "About")
                            </li>
                            <li id="bloghome1">
                                @Html.ActionLink("Our Team", "OurTeam", "About")
                            </li>
                            @*<li id="bloghome2">
                    @Html.ActionLink("Our Trustees", "OurTrustees", "About")
                </li>*@
                            <li id="bloghome22">
                                @Html.ActionLink("FAQs", "FAQs", "About")
                            </li>

                            <li id="blogpost6">
                                @Html.ActionLink("Contact us", "Create", "Contactus")
                            </li>

                        </ul>

                    </li>




                    <li class="nav__item nav__item--login">
                        @*<a href="#" class="nav__item-link nav__item-link--login btn btn--small btn--brand-h">
            <span class="btn__text">Login</span>*@
                        @Html.ActionLink("Login", "Login", "Account")
                        @*</a>*@
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
       
    </nav>
 
        @RenderBody()

 

    <div class="container">

        <hr>
        <div class="row">
          
            <div class="col-sm-4">
                <h4>THE BLESSED HUB</h4>
                <ul>Est. 2012</ul>
                <ul> @Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Footer",null, new { @class = "ulfooter" })</ul>
                <ul>E: info@theblessedhub.co.uk</ul>
                <ul>E: legacy@theblessedhub.co.uk</ul>

            </div>
            <div class="col-sm-4">
                <h4>LATEST</h4>
                <ul> @Html.ActionLink("The Legacy Project", "Legacy", "Footer",null, new { @class = "ulfooter" })</ul>
                <ul>@Html.ActionLink("12 Lessons Learnt At The Orange Tree", "Lessons", "Footer", null, new { @class = "ulfooter" })</ul>
                <ul>@Html.ActionLink("The Blessed Hub: An Unexpected Journey, P.1", "Journey", "Footer", null, new { @class = "ulfooter" })</ul>
                <ul>@Html.ActionLink("The Pursuit of Happiness:", "PursuitOfHappiness", "Footer", null, new { @class = "ulfooter" }) </ul>
           
            </div>
            <div class="col-sm-4">
                <h4>AWARD/PRESS</h4>

                <ul class="widget widget_text">
                    <a href="http://theblessedhub.co.uk/the-blessed-hub-award-finalists-in-innovation-and-business-2014/" target="_blank"><img class="align:center" src="http://theblessedhub.co.uk/wp-content/uploads/2016/06/ISB-logo.png" alt="Islamic Society of Britain" width="47" height="18"></a>
                </ul>
                <ul>
                    <a href="#" target="_blank"><img class="align: center" src="http://theblessedhub.co.uk/wp-content/uploads/2016/06/community-magnet-award.png" alt="Community Magnet" width="47" height="18"></a>
                </ul>
                <ul></ul>
            </div>
        </div>



        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; The Blessed Hub</p>
                    <ul class="list-unstyled list-inline list-social-icons">
                        <li class="tooltip-social facebook-link"><a title="Facebook" data-placement="top" data-toggle="tooltip" href="https://www.facebook.com/TheBlessedHub/"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                        <li class="tooltip-social twitter-link"><a title="Twitter" data-placement="top" data-toggle="tooltip" href="https://twitter.com/theblessedhub"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@Url.Content("/js/bootstrap.js")"></script>
    <script src="@Url.Content("/js/modern-business.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>