﻿@*@model BlessedHub.ViewModels.ServicesTypeVM*@

@using (Html.BeginForm("PartialSearchService", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div>
    <div style="float:right;">
        <a href="@Url.Action("MasjidList", "Home")" style="margin-top:5px;border-radius:25px; background-color:#5a497f" class="btn btn-primary">
            <span>
                <strong>Prayer Timings</strong>
            </span>
        </a>
    </div>
    <div style="float:left;">
        <input type="text" placeholder="Search help ..." name="search" id="search" style="border-top: white; border-bottom: thick; border-left: white;border-right: white;">
        <button type="submit" style="background-color:transparent;"><i class="fa fa-search"></i></button>
    </div>
</div>
      
     
     
}


