﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.card--big {
    width: 100%;
}

.card--brand-h {
    -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,.25);
    box-shadow: 0 0 5px 1px rgba(0,0,0,.25);
}

.card {
    border-radius: 7px;
    margin-bottom: 20px;
    text-align: center;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.card--big .card__title {
    height: auto;
}

.card--brand-h .card__title {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background: #5a497f;
    height: auto;
    padding: 20px 10px 10px;
    text-align: left;
}

.card__title {
    margin-top: 0;
    text-align: left;
    height: auto;
}

.card--brand-h .card__title :last-child {
    padding-bottom: 10px;
}

.card--brand-h .card__title * {
    color: #fff;
}

.card__title a {
    text-decoration: none;
    color: #fff !important;
}

.block__content a {
    color: #0a8564;
    text-decoration: underline;
}

.card--brand-h .TimingBox {
    background: #fff;
    text-align: left;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.TimingBox {
    padding: 20px;
    position: relative;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.TimingBox-dictionary-title {
    float: left;
    clear: left;
    margin-right: 1em;
    width: 150px;
}

.TimingBox-dictionary-title {
    font-family: museo_sans_rounded500,sans-serif;
    font-weight: 500;
}

p {
    line-height: 1.5;
}

.card--brand-h .TimingBox p {
    padding: 0;
    margin-bottom: 20px;
}

dl dt {
    margin-bottom: 5px;
}

.h2, .h3 {
    font-family: museo_sans_rounded500,sans-serif;
    font-weight: 500;
    margin: 0 0 20px;
    line-height: 1.3;
}

/*****************/
.btn__text {
    /*background-color: #f24400;*/
    color: #fff;
    -webkit-box-shadow: 0 3px 0 0 #382d4e;
    box-shadow: 0 3px 0 0 #382d4e;
}



.ServicesCount {
    margin: 0 0 20px;
    /*background-color:green;*/
}


.ServicesCount__list {
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.ServicesCount__item {
    display: inline-block;
    /*margin: 20px 0 0;*/
    border-bottom: 0;
    /*border-right: 1px solid #101011;*/
    border-left: 1px red;
    /*width: 32%;*/
    float: left;
    margin-right: 2%;
}

.ServicesCount a {
    color: #5a497f;
}

.ServicesCount__title {
    font-size: 2.5rem;
    display: block;
    line-height: 1.2;
}

.ServicesCount__description {
    display: block;
    margin: 0;
}

.EditLink {
    color: #5a497f;
}

    .EditLink a {
        color: #5a497f;
    }

#AdminContainer a {
    color: #5a497f;
}